<%page expression_filter="h"/>
<%namespace name='static' file='../static_content.html'/>
<%!
from common.djangoapps.edxmako.shortcuts import marketing_link
from datetime import datetime
from django.conf import settings
from django.urls import reverse
from django.utils import timezone
from django.utils.translation import pgettext
from django.utils.translation import ugettext as _
from lms.djangoapps.courseware.courses import get_course_about_section
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
from openedx.core.djangolib.js_utils import js_escaped_string
from openedx.core.djangolib.markup import clean_dangerous_html, HTML, Text
from openedx.core.lib.courses import course_image_url
from six import string_types, text_type
now = timezone.now()
%>

<%inherit file="../main.html" />
<%block name="headextra">
  ## OG (Open Graph) title and description added below to give social media info to display
  ## (https://developers.facebook.com/docs/opengraph/howtos/maximizing-distribution-media-content#tags)
  <meta property="og:title" content="${course.display_name_with_default}" />
  <meta property="og:description" content="${get_course_about_section(request, course, 'short_description')}" />
  <meta property="og:type" content="article">
  <meta property="og:image" content="${course_image_urls['large']}">
  <meta property="og:site_name" content="${configuration_helpers.get_value('EOL_OG_SITE_NAME', '') }">
  <meta property="og:locale" content="es_CL">
</%block>

<%block name="js_extra">
  <script type="text/javascript">
  (function() {
    $(".register").click(function(event) {
      $("#class_enroll_form").submit();
      event.preventDefault();
    });

    $('#class_enroll_form').on('ajax:complete', function(event, xhr) {
      if (xhr.status == 200) {
        if (xhr.responseText == "") {
          location.href = "${reverse('dashboard') | n, js_escaped_string}";
        }
        else {
          location.href = xhr.responseText;
        }
      } else if (xhr.status == 403) {
        // redirect unauthenticated user to the login page
        location.replace("${reverse('signin_user') | n, js_escaped_string}?next=" + encodeURIComponent("${request.path | n, js_escaped_string}"));
      } else {
        $('#register_error').text(
            (xhr.responseText ? xhr.responseText : "${_("An error occurred. Please try again later.") | n, js_escaped_string}")
        ).css("display", "block");
      }
    });

  })(this)
  </script>

  <script src="${static.url('js/course_info.js')}"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</%block>

<%block name="pagetitle">${course.display_name_with_default}</%block>

<script>
  function show_default_image() {
    return "${static.url('open-uchile-theme/images/default-course.png')}";
  }
</script>
<section class="course-info">
  <div class="container pb-0">
    <div class="row">
      <div class="col-md-7 course-header py-2">
          <h1 class="text-left mb-0 pb-2">
            ${course.display_name_with_default}
          </h1>
          <h3>
            ${course.display_org_with_default}
          </h3>
          %if user.is_authenticated and registered:
            %if show_courseware_link:
              <p class="font-italic lead enroll-message">${_("You are enrolled in this course")}</p>
              <a href="${course_target}" class="pt-2 enroll-button-2">
                <button class="btn">${_("View Course")}</button>
              </a>
            %else:
              <button class="btn my-auto pt-2 enroll-button" disabled>${_("You are enrolled in this course")}</button>
            %endif
          % elif is_course_full:
            <button class="btn my-auto pt-2 enroll-button" disabled>${_("Course is full")}</button>
          % elif invitation_only and not can_enroll:
            <button class="btn my-auto pt-2 enroll-button" disabled>${_("Curso requiere postulación")}</button>
          % elif not is_shib_course and not can_enroll:
            <button class="btn my-auto pt-2 enroll-button" disabled>${_("Enrollment is Closed")}</button>
          %elif allow_anonymous:
            %if show_courseware_link:
              <a href="${course_target}" class="my-auto pt-2">
                <button class="btn">${_("View Course")}</button>
              </a>
            %endif
          %else:
            <%
              if ecommerce_checkout:
                reg_href = ecommerce_checkout_link
              else:
                reg_href="#"
              if single_paid_mode:
                href_class = "add-to-cart"
              else:
                href_class = "register"
            %>
            <a href="${reg_href}" class="${href_class} my-auto pt-2">
              <button class="btn">${_("Inscríbase ahora")}</button>
            </a>
            <div id="register_error"></div>
          %endif
      </div>
      <div class="col-md-5 py-2">
        % if get_course_about_section(request, course, "video"):
          <a href="#video-modal" class="media" rel="leanModal">
            <div class="position-relative">
              <div class="icon-play"></div>
              <img src="${course_image_urls['large']}" class="img-fluid course-about-image" alt="image"/>
            </div>
          </a>
        %else:
          <img src="${course_image_urls['large']}" onerror="this.onerror=null; this.src=show_default_image()"  class="img-fluid course-about-image" alt="image" />
        % endif
      </div>
    </div>
    % if staff_access and studio_url is not None:
      <div class="row">
        <div class="wrap-instructor-info studio-view my-auto">
          <a class="instructor-info-action" href="${studio_url}">${_("View About Page in studio")}</a>
        </div>
      </div>
    % endif
    <%
      show_start_date = True
      advertised_start_test = course.advertised_start
      if course.advertised_start is None:
        course_start_date = (course.start).strftime('%Y-%m-%dT%H:%M:%S%z')
      else:
        show_start_date = False
        course_start_date = course.advertised_start 
    %>
    <div class="row ct3 info-row my-4 rounded gx-0 p-3">
        <div class="col-md-3 col-sm-12">
          <div class="row g-0 p-0">
            <div class="col-2 m-0">
              <div class="open-course-date-icon">
                <img src="${static.url('open-uchile-theme/images/svg-2023/fecha termino.svg')}">
              </div>
            </div>
            <div class="col-10">
              <div class="open-course-date-text ml-3">
                <strong><span>${_("Classes Start")}</span></strong>
                %if show_start_date:
                  <div class="course-date localized_datetime" aria-hidden="true" data-format="shortDate" data-datetime="${course_start_date}" data-language="${LANGUAGE_CODE}" data-string=""></div>
                % else:
                  <div class="course-date localized_datetime" aria-hidden="true">${course_start_date}</div>
                % endif
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-12">
          <div class="row g-0 p-0">
            <div class="col-2 m-0">
              <div class="open-course-date-icon">
                <img src="${static.url('open-uchile-theme/images/svg-2023/modalidad.svg')}">
              </div>
            </div>
            <div class="col-10">
              <div class="open-course-date-text ml-3">
                <strong><span>${_("Pacing")}</span></strong>
                %if bool(course_details.self_paced) == True:
                <div class="course-date" aria-hidden="true">${_("Student paced")}</div>
                % else:
                <div class="course-date" aria-hidden="true">${_("Instructor paced")}</div>
                % endif
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-12">
          <div class="row g-0 p-0">
            <div class="col-2 m-0">
              <div class="open-course-date-icon">
                <img src="${static.url('open-uchile-theme/images/svg-2023/precio.svg')}">
              </div>
            </div>
            <div class="col-10">
              <div class="open-course-date-text ml-3">
                <strong><span>${_("Price")}</span></strong>
                <div class="course-date" aria-hidden="true">
                    %if course_price not in ['Gratis', 'Free', None, "None"]:
                      <% aux_price = int(course_price[1:]) %>
                      $ ${f'{aux_price:,}'.replace(',', '.')}
                    %else:
                        ${course_price}
                    %endif
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-12">
          %if course_details.effort != None:
            <div class="row g-0 p-0">
              <div class="col-2 m-0">
                <div class="open-course-date-icon">
                  <img src="${static.url('open-uchile-theme/images/svg-2023/fecha inicio.svg')}">
                </div>
              </div>
              <div class="col-10">
                <div class="open-course-date-text ml-3">
                  <strong><span>${_("Duration")}</span></strong>
                    <div class="course-date" aria-hidden="true">${course_details.effort}</div>
                </div>
              </div>
            </div>
          % endif
        </div>

    </div>
    <div class="row">
      <h3 class="text-right">${_("There is one session available:")}</h3>
      <p class="text-right lead">${total_enrolled if total_enrolled else None}${_(" already enrolled!")}</p>
    </div>

  </div>
  <div id="open-course-about" class="container pb-0">
      <div class="details float-none w-auto">
        <div class="inner-wrapper">
          ${HTML(get_course_about_section(request, course, "overview"))}
        </div>
        <script>
          $(function() {
            $("#accordionFAQS").append($('.course-faqs').contents());
            if($('.course-faqs').length == 0) {
              $(".faqs-row").hide();
            }
          });
        </script>
      </div>
      <script>
        $(function() {
          $("#open-course-about .menu .btn").on("click", function() {
            // Clear 'active' class
            $("#open-course-about .menu-content-section").removeClass("active");
            $("#open-course-about .menu .btn").removeClass("active");
            // Set 'active' and show
            $(this).addClass("active");
            $("#" + $(this).attr("data-section")).addClass("active");
          });
        });
      </script>
      <div class="row my-2 faqs-row">
        <div class="col-lg-8 p-3">
            <div class="course-about-card m-2">
              <h3 class="px-4">${_("Frequently Asked Questions")}</h3>
              <div class="accordion text-justify mt-3" id="accordionFAQS">
              </div>
            </div>
        </div>
      </div>
    </div>
    
</section>

## Need to put this hidden form on the page so that the registration button works.
## Since it's no harm to display a hidden form, we display it with the most permissive conditional
## which is when the student is not registered.
%if active_reg_button or is_shib_course:
  <div class="d-none">
    <form id="class_enroll_form" method="post" data-remote="true" action="${reverse('change_enrollment')}">
      <fieldset class="enroll_fieldset">
        <legend class="sr">${pgettext("self","Enroll")}</legend>
        <input name="course_id" type="hidden" value="${course.id}">
        <input name="enrollment_action" type="hidden" value="enroll">
      </fieldset>
      <div class="submit">
        <input name="submit" type="submit" value="${pgettext('self','enroll')}">
      </div>
    </form>
  </div>
%endif

<%include file="../video_modal.html" />

<%static:require_module_async module_name="js/dateutil_factory" class_name="DateUtilFactory">
    DateUtilFactory.transform(iterationKey=".localized_datetime");
</%static:require_module_async>
