<%page expression_filter="h"/>
<%namespace name='static' file='../static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.utils.translation import pgettext
from django.urls import reverse
from lms.djangoapps.courseware.courses import get_course_about_section
from django.conf import settings
from six import text_type
from common.djangoapps.edxmako.shortcuts import marketing_link
from openedx.core.djangolib.js_utils import js_escaped_string
from openedx.core.djangolib.markup import clean_dangerous_html, HTML, Text
from openedx.core.lib.courses import course_image_url

from six import string_types
%>

<%inherit file="../main.html" />
<%block name="headextra">
  ## OG (Open Graph) title and description added below to give social media info to display
  ## (https://developers.facebook.com/docs/opengraph/howtos/maximizing-distribution-media-content#tags)
  <meta property="og:title" content="${course.display_name_with_default}" />
  <meta property="og:description" content="${get_course_about_section(request, course, 'short_description')}" />
</%block>

<%block name="js_extra">
  <script type="text/javascript">
  (function() {
    $(".register").click(function(event) {
      $("#class_enroll_form").submit();
      event.preventDefault();
    });

    $('#class_enroll_form').on('ajax:complete', function(event, xhr) {
      if (xhr.status == 200) {
        if (xhr.responseText == "") {
          location.href = "${reverse('dashboard') | n, js_escaped_string}";
        }
        else {
          location.href = xhr.responseText;
        }
      } else if (xhr.status == 403) {
        $('#register_error').text(
            (xhr.responseText ? xhr.responseText : "${_("An error has occurred. Please ensure that you are logged in to enroll.") | n, js_escaped_string}")
        ).css("display", "block");
      } else {
        $('#register_error').text(
            (xhr.responseText ? xhr.responseText : "${_("An error occurred. Please try again later.") | n, js_escaped_string}")
        ).css("display", "block");
      }
    });

  })(this)
  </script>

  <script src="${static.url('js/course_info.js')}"></script>
</%block>

<%block name="pagetitle">${course.display_name_with_default}</%block>

<style>
  .course-info h1 {
    font-weight: 700;
  }

  .course-info .course-header {
    flex-direction: column;
    display: flex;
  }

  .course-info button.btn {
    box-shadow: none !important;
    color: #ffff;
    font-weight: bold;
    padding: 10px;
    background: none;
    background-color: #069bdc;
    border-color: #069bdc;
    text-shadow: none;
    width: 60%;
  }

  .course-info button.btn:hover {
    background-color: #048dc9;
    border-color: #048dc9;
  }

  .course-info .course-about-image {
    border-radius: 7px;
  }

  .course-info .media .play-intro {
    background-image: -webkit-linear-gradient(-90deg, rgba(0, 156, 221, 0.58), rgba(0, 156, 221, 0.28));
    background-image: linear-gradient(-90deg, rgba(0, 156, 221, 0.58), rgba(0, 156, 221, 0.28));
    border-radius: 4px;
    box-shadow: 0 1px 12px 0 rgba(0,0,0,0.4);
    border: 2px solid rgba(255,255,255,0.8);
    border-radius: 100px;
    height: 80px;
    left: 50%;
    margin-top: -40px;
    margin-left: -40px;
    position: absolute;
    top: 50%;
    width: 80px;
  }

  .course-info .info-row {
    background-color: #089bdb47;
  }

  .course-info .info-row img.icon {
    max-width: 40px;
  }

  .course-info .menu {
    background-color: #dbdbdb;
    color: #048dc9;
    font-weight: 400;
  }

  .menu-sticky {
    position: -webkit-sticky; /* Safari & IE */
    position: sticky;
    top: 0;
  }

  .course-info .menu a {
    color: black;
  }

  .course-info .about-details p, .course-info .about-details strong { 
    text-align: justify;
    font-size: 1.2em;
    line-height: normal;
  }

  .course-info .grey-background {
    background-color: #8080804d;
  }

  .course-info .instructor {
    background-color: #bdc0c1;
  }
  
</style>


<script>
  function show_default_image() {
    return "${static.url('eol-uchile-2020/images/default-course.jpg')}";
  }
</script>

<section class="course-info">
  <div class="container px-4 pb-0">
    <div class="row">
      <div class="col-md-7 course-header py-2">
          <h1 class="text-left mb-0 pb-2">
            ${course.display_name_with_default}
          </h1>
          <h3>
            ${course.display_org_with_default}
          </h3>
          <%
            if ecommerce_checkout:
              reg_href = ecommerce_checkout_link
            else:
              reg_href="#"
            if single_paid_mode:
              href_class = "add-to-cart"
            else:
              href_class = "register"
          %>
          <a href="${reg_href}" class="${href_class} my-auto pt-2">
            <button class="btn">${_("Enroll Now")}</button>
          </a>
      </div>
      <div class="col-md-5 py-2">
        % if get_course_about_section(request, course, "video"):
          <a href="#video-modal" class="media" rel="leanModal">
            <div class="hero">
              <img src="${course_image_urls['large']}" class="img-fluid course-about-image" alt="image"/>
              <div class="play-intro"></div>
            </div>
          </a>
        %else:
          <img src="${course_image_urls['large']}" class="img-fluid course-about-image" alt="image" />
        % endif
      </div>
    </div>
    % if staff_access and studio_url is not None:
      <div class="row">
        <div class="wrap-instructor-info studio-view my-auto">
          <a class="instructor-info-action" href="${studio_url}">${_("View About Page in studio")}</a>
        </div>
      </div>
    % endif  
    <div class="row info-row my-3 rounded">
      <%
        course_start_date = 'None'
        if not course.start_date_is_still_default:
          course_start_date = course.advertised_start or course.start
          if not isinstance(course_start_date, string_types):
            course_start_date = course_start_date.strftime('%Y-%m-%dT%H:%M:%S%z')
          endif
        endif
        course_end_date = 'None'
        if course.end:
          course_end_date = course.end
          if not isinstance(course_end_date, string_types):
            course_end_date = course_end_date.strftime('%Y-%m-%dT%H:%M:%S%z')
          endif
        endif
      %>
      <div class="col-md-4 my-3">
        <div class="row">
          <div class="col-5 text-right">
            <img class="img-fluid icon" src="${static.url('open-uchile-theme/images/start_clock.png')}" alt="">
          </div>
          <div class="col-7 text-left pt-1 pl-0">
            <span class="important-dates-item-title">
              ${_("Classes Start:")}</br>
              <span class="important-dates-item-text start-date localized_datetime" data-format="shortDate" data-datetime="${course_start_date}" data-language="${LANGUAGE_CODE}"></span>
            </span>
          </div>
        </div>
      </div>
      
      <div class="col-md-4 my-3">
        <div class="row">
          <div class="col-5 text-right">
            <img class="img-fluid icon" src="${static.url('open-uchile-theme/images/end_clock.png')}" alt="">
          </div>
          <div class="col-7 text-left pt-1 pl-0">
            <span class="important-dates-item-title">
              ${_("Classes End:")}</br>
              <span class="important-dates-item-text start-date localized_datetime" data-format="shortDate" data-datetime="${course_end_date}" data-language="${LANGUAGE_CODE}"></span>
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-4 my-3">
        <div class="row">
          <div class="col-5 text-right">
            <img class="img-fluid icon" src="${static.url('open-uchile-theme/images/course_price.png')}" alt="">
          </div>
          <div class="col-7 text-left pt-1 pl-0">
            <span class="important-dates-item-title">
              ${_("Price:")}</br>
              ${course_price}
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <h3 class="text-right">${_("There is one session available:")}</h3>
      <p class="text-right lead">${total_enrolled if total_enrolled else None}${_(" already enrolled! After a course session ends, it will be archived.")}</p>
    </div>

  </div>
  <div class="container pb-0">
    <%block name="course_about_details">
    <div class="row menu-sticky">
      <div class="menu w-100 mt-2 mb-4 py-3 px-4 rounded h3">
        <a href="#about" class="mr-4">${_("About")}</a> | <a href="#whatlearn" class="mr-4 ml-4">${_("What you'll learn")}</a> | <a href="#instructors" class="mr-4 ml-4">${_("Instructors")}</a> | <a href="#taughtby" class="ml-4">${_("Taught by")}</a>
      </div>
    </div>
    <div class="row about-details">
      <h1 id="about">About this course</h1>
      <p>
        The purpose of the course is to introduce an initial framework that leads to an understanding of the ways in which AI systems can be conceptualized, designed and implemented to support efforts to create a more diverse and inclusive society that does not obstruct people's opportunities and rights.
        The course takes different approaches from the humanities, social sciences and communication, focused on the opportunities and challenges that these technologies present to society in relation to issues such as social inclusion and human rights, the future of work, education, health and welfare, quality of information, security and privacy -among others- and how these fields intersect with the development and use of Artificial Intelligence and associated technologies.
        It will also explore how different stakeholders, e.g., developers, AI systems, users, and especially those individuals and communities that may not have access to these technologies, could be affected by them.
      </p>
      <h1 id="whatlearn">What you'll learn</h1>
      <div class="course-content">
        <h2>Module 1: Artificial Intelligence and Social Inclusion</h2>
        <ol>
          <li>Introductory notion of the concept of AI</li>
          <li>AI and the possibilities of building a more Inclusive Society</li>
          <li>Inclusion and exclusion in the Age of AI</li>
        </ol>


        <h2>Module 2: Artificial Intelligence, Bias and Discrimination</h2>
        <ol>
          <li>The challenges of AI bias and discrimintation</li>
          <li>Exploratory cases</li>
          <li>Deconstructing AI narratives</li>
        </ol>

        <h2>Module 3: Artificial Intelligence, Freedom of Speech and Misinformation</h2>
        <ol>
          <li>The ethical balance between safety and  freedom of speech</li>
          <li>Misinformation and its Implications for democracy</li>
          <li>Exploratory cases</li>
        </ol>

        <h2>Module 4: The challenges of Artificial Intelligence and facial recognition and classification</h2>
        <ol>
          <li>Conceptual framework. Face detection and classification. Face verification and Face recognition</li>
          <li>Challenges of face recognition and classification</li>
        </ol>

        <h2>Module 4: Final activities and Certification</h2>
        <ol>
          <li>Summary</li>
          <li>Final Video</li>
          <li>Final Quiz</li>
        </ol>

      </div>
      <h1 id="instructors">Instructors</h1>
      <div class="row mb-4">
        <div class="instructor rounded col-md-4 mx-auto text-center my-2 p-3">
          <img src="/asset-v1:openuchile+test101+2021+type@asset+block@instructor_1.png" alt="Instructor 1">
          <h3 class="mt-2">
            <strong>Lionel Brossi</strong>
          </h3>
          <p class="text-center">
            Director del Núcleo Inteligencia Artificial
            y Sociedad IA+SIC.
            Instituto de la Comunicación e Imagen,
            Universidad de Chile
          </p>
        </div>
        <div class="instructor rounded col-md-4 mx-auto text-center my-2 p-3">
          <img src="/asset-v1:openuchile+test101+2021+type@asset+block@instructor_2.png" alt="Instructor 2">
          <h3 class="mt-2">
            <strong>Ana María Castillo</strong>
          </h3>
          <p class="text-center">
            Académica y directiva del Núcleo IA+SIC.
            Instituto de la Comunicación e Imagen, 
            Universidad de Chile
          </p>
        </div>
      </div>
      <div class="grey-background rounded pt-3 pb-5 text-center">
        <h1 id="taughtby">Taught by</h1>
        <img src="/asset-v1:openuchile+test101+2021+type@asset+block@logos_ai.png" alt="logos" class="img-fluid" style="max-width: 500px;"/>
      </div>
    </div>
    </%block>

  </div>
</section>

## Need to put this hidden form on the page so that the registration button works.
## Since it's no harm to display a hidden form, we display it with the most permissive conditional
## which is when the student is not registered.
%if active_reg_button or is_shib_course:
  <div style="display: none;">
    <form id="class_enroll_form" method="post" data-remote="true" action="${reverse('change_enrollment')}">
      <fieldset class="enroll_fieldset">
        <legend class="sr">${pgettext("self","Enroll")}</legend>
        <input name="course_id" type="hidden" value="${course.id}">
        <input name="enrollment_action" type="hidden" value="enroll">
      </fieldset>
      <div class="submit">
        <input name="submit" type="submit" value="${pgettext('self','enroll')}">
      </div>
    </form>
  </div>
%endif

<%include file="../video_modal.html" />

<%static:require_module_async module_name="js/dateutil_factory" class_name="DateUtilFactory">
    DateUtilFactory.transform(iterationKey=".localized_datetime");
</%static:require_module_async>