<%page expression_filter="h"/>
<%!
  import json
  from django.utils.translation import ugettext as _
  from openedx.core.djangolib.js_utils import js_escaped_string, dump_js_escaped_json
%>
<%inherit file="../main.html" />
<%
  course_discovery_enabled = settings.FEATURES.get('ENABLE_COURSE_DISCOVERY')
%>
<%
  from django.utils import timezone
  now = timezone.now()
%>
<%namespace name='static' file='../static_content.html'/>

% if course_discovery_enabled:
<%block name="header_extras">
  % for template_name in ["course_card", "filter_bar", "filter", "facet", "facet_option"]:
  <script type="text/template" id="${template_name}-tpl">
      <%static:include path="discovery/${template_name}.underscore" />
  </script>
  % endfor

</%block>
% endif

<%block name="pagetitle">${_("Courses")}</%block>
<style>
  .collapse:not(.show) {
    display: block;
}
</style>
<main id="main" aria-label="Content" tabindex="-1">
    <section class="find-courses">
      <section class="courses-container">
        % if course_discovery_enabled:
        <div id="discovery-form" role="search" aria-label="course" class="wrapper-search-context">
          <div id="discovery-message" class="search-status-label"></div>
          <form class="wrapper-search-input">
            <label for="discovery-input" class="sr">${_('Search for a course')}</label>
            <input id="discovery-input" class="discovery-input" placeholder="${_('Search for a course')}" type="text"/>
            <button type="submit" id="discovery-submit"  class="button postfix discovery-submit" title="${_('Search')}">
              <span class="icon fa fa-search" aria-hidden="true"></span>
              <div aria-live="polite" aria-relevant="all">
                <div id="loading-indicator" class="loading-spinner hidden">
                  <span class="icon fa fa-spinner fa-spin" aria-hidden="true"></span>
                  <span class="sr">${_('Loading')}</span>
                </div>
              </div>
            </button>
          </form>
        </div>

        <div id="filter-bar" class="filters hide-phone is-collapsed">
          <div class="filters-inner">
            <ul id="active-filters" class="active-filters facet-list"></ul>
            <button id="clear-all-filters" class="clear-filters flt-right discovery-button">Borrar todo</button>
          </div>
        </div>
        % endif

        <div class="courses${'' if course_discovery_enabled else ' no-course-discovery'}" role="region" aria-label="${_('List of Courses')}">
          <ul class="courses-listing courses-list" id="list-courses">
            %for course in courses:
              %if course.end is not None and course.end > now:
                %if course.enrollment_start is not None and course.enrollment_end is not None:
                  %if course.enrollment_end > now:
                    %if course.id.course[-2:] == '_E':
                      <li class="courses-listing-item courses-english">
                        <%include file="../course.html" args="course=course" />
                      </li>
                    %else:
                      <li class="courses-listing-item courses-spanish">
                        <%include file="../course.html" args="course=course" />
                      </li>
                    %endif
                  %endif
                %endif
              %elif course.end is None:
                %if course.enrollment_start is not None and course.enrollment_end is not None:
                  %if course.enrollment_end > now:
                    %if course.id.course[-2:] == '_E':
                      <li class="courses-listing-item courses-english">
                        <%include file="../course.html" args="course=course" />
                      </li>
                    %else:
                      <li class="courses-listing-item courses-spanish">
                        <%include file="../course.html" args="course=course" />
                      </li>
                    %endif
                  %endif
                %endif
              %endif
            %endfor
          </ul>
        </div>


        % if course_discovery_enabled:
        <aside aria-label="Refinar su búsqueda" class="search-facets phone-menu">
          <h2 class="header-search-facets">Refinar su búsqueda</h2>
          <section class="search-facets-lists">
            <h3 class="header-facet"> Ordenar por: </h3>
            <ul data-facet="order_by" class="facet-list collapse">
              <li>
                <button data-facet="order_by" data-value="newer" data-text="Newer" class="facet-option discovery-button order_by">
                  Newer
                  <span class="count">
                    <span class="count-number">XX</span>
                  </span>
                </button>
              </li>
              <li>
                <button data-facet="order_by" data-value="older" data-text="Older" class="facet-option discovery-button order_by">
                  Older
                  <span class="count">
                    <span class="count-number">XX</span>
                  </span>
                </button>
              </li>
            </ul>
          </section>
        </aside>
        % endif

      </section>
    </section>
</main>
<script type="text/javascript">
  var index = 0;
  var currentTotal = 0;
  var state = 0 //0:can get data 1:waiting data 2: no more data
  var filters = {
    "search_string": "",
    "order_by": "none"
  }
  $(window).load(function() {
    initDiscovery();
    $(window).scroll(function() {
        if($(window).scrollTop()  > $(window).height() / 2) {
          if (state == 0){
            state = 1;
            getData();
          }
        }
    });
    function initDiscovery(){
      index = 0;
      currentTotal = 0;
      state = 1;
      filters = {
        "search_string": "",
        "order_by": "none"
      }
      getData();
    }

    function getData(){
      var pages = {"page_size": 10, "page_index": index }
      var copy = {...filters, ...pages};
      
      $.post( "/search/course_discovery/", copy )
      .done(function( data ) {
        data.results.forEach(element => {
          edx.HtmlUtils.append($("#list-courses")[0], createCourse(element.data))
        });
        currentTotal = currentTotal + data.results.length;
        if (data.total > currentTotal){
          index = index + 1;
          state = 0;
        }
        else state = 2;
        $("#discovery-message").text("Mostrando " + data.total + " cursos");
      });
    }

    $('.search-facets-lists button').live('click', function(e) {
      e.preventDefault();
      $(this).blur();
      let facet = $(this).data("facet");
      let display_name = $(this).data("text");
      let add_btn = true;
      if ($(this).hasClass("selected")){
        $(this).removeClass("selected");
        if($(this).data("facet") == "order_by") filters["order_by"] = "none";
        add_btn = false;
      }
      else{
        $(this).addClass("selected");
        if($(this).data("facet") == "order_by") filters["order_by"] = $(this).data("value");
        if($(".order_by").not(this).hasClass("selected")) $(".order_by").not(this).removeClass("selected");
      }

      let list_course1 = getCourses();
      // executes when promise is resolved successfully
      list_course1.then(
          function successValue(result) {
              console.log(result);
              if (add_btn) AddBtnFilterBar(facet, display_name);
              else {
                $("#" + facet).remove();
                if ( $('#active-filters').children().length == 0 ) $('#filter-bar').addClass("is-collapsed");
              }
          },
      )
      // executes if there is an error
      .catch(
          function errorValue(result) {
              console.log(result);
          }
      )
      .finally(
        function greet() {
        }
      );
    });

    $('#clear-all-filters').live('click', function(e) {
      e.preventDefault();
      $('#filter-bar').addClass("is-collapsed");
      $("#active-filters").html('');
      cleanCourses();
      initDiscovery();
    });
    $('#filter-bar .facet-option.discovery-button').live('click', function(e) {
      e.preventDefault();
      let btnType = $(this).data('type');
      $("#" + btnType).remove();
      if ( $('#active-filters').children().length == 0 ) $('#filter-bar').addClass("is-collapsed");
      let filters = {
        "search_string": ""
      }
      let list_course2 = getCourses();
      // executes when promise is resolved successfully
      list_course2.then(
          function successValue(result) {
              console.log(result);
              //AddBtnFilterBar(result);
          },
      )
      // executes if there is an error
      .catch(
          function errorValue(result) {
              console.log(result);
          }
      )
      .finally(
        function greet() {
          
        }
      );
    });

    $('#discovery-submit').live('click', function(e) {
      e.preventDefault();
      $('.icon.fa.fa-search').css("visibility", "hidden");
      $('#loading-indicator').toggleClass('hidden');
      filters["search_string"] = $("#discovery-input").val();
      let list_course3 = getCourses();
      // executes when promise is resolved successfully
      list_course3.then(
          function successValue(result) {
              console.log(result);
              AddBtnFilterBar("search_string", filters["search_string"]);
              
          },
      )
      // executes if there is an error
      .catch(
          function errorValue(result) {
              console.log(result);
          }
      )
      .finally(
        function greet() {
          $('.icon.fa.fa-search').css("visibility", "visible");
          $('#loading-indicator').toggleClass('hidden');
        }
      );
    });

    function getCourses(){
      cleanCourses();
      // returns a promise
      return new Promise(function (resolve, reject) {
        getData();
        //pasar datos a resolve
        resolve('Promise success');
        reject('Promise rejected');
      });
      
    }

    function createCourse(data){
      /*
        "data": {
            "id": "course-v1:eol+NA303+2022",
            "course": "course-v1:eol+NA303+2022",
            "content": {
                "display_name": "Test202",
                "overview": " About This Course Include your long course description here. The long course description should contain 150-400 words. This is paragraph 2 of the long course description. Add more paragraphs as needed. Make sure to enclose them in paragraph tags. Requirements Add information about the skills and knowledge students need to take this course. Course Staff Staff Member #1 Biography of instructor/staff member #1 Staff Member #2 Biography of instructor/staff member #2 Frequently Asked Questions What web browser should I use? The Open edX platform works best with current versions of Chrome, Edge, Firefox, Internet Explorer, or Safari. See our list of supported browsers for the most up-to-date information. Question #2 Your answer would be displayed here. ",
                "number": "NA303"
            },
            "image_url": "/asset-v1:eol+NA303+2022+type@asset+block@images_course_image.jpg",
            "start": "2022-01-01T00:00:00+00:00",
            "end": "2023-11-30T00:00:00+00:00",
            "number": "NA303",
            "enrollment_start": "2021-01-01T00:00:00+00:00",
            "enrollment_end": "2021-12-31T00:00:00+00:00",
            "org": "eol",
            "modes": [
                "audit"
            ],
            "language": "en"
          }
      */
      const coursehtml = '<li class="courses-listing-item"><article class="course" role="region" aria-label="{course_display_name}">'+
      '<a href="/courses/{course}/about"><header class="course-image">'+
      '<div class="cover-image"><img src="{image_url}" alt="{course_display_name}">'+
      '<div class="learn-more" aria-hidden="true">APRENDER MAS</div></div></header>'+
      '<section class="course-info" aria-hidden="true"><h2 class="course-name">'+
      '<span class="course-organization">{org}</span><span class="course-code">{number}</span><span class="course-title">{course_display_name}</span>'+
      '</h2><div class="course-date" aria-hidden="true">Comienza: {start}</div>'+
      '</section><div class="sr"><ul><li>{org}</li><li>{number}</li><li>Empieza<time itemprop="startDate" datetime="{start}">{start}</time></li>'+
      '</ul></div></a></article></li>';
      data["course_display_name"] = data.content.display_name;
      return edx.HtmlUtils.interpolateHtml(edx.HtmlUtils.HTML(coursehtml), data);
    }

    function AddBtnFilterBar(type, value){
      if ( $('#active-filters').children().length == 0 ) $('#filter-bar').removeClass("is-collapsed");
      createBtnActiveFilters(type, value)
    }

    /*function createActiveFilters(){
      let filterBarHtml = '<div class="filters-inner"><ul id="active-filters" class="active-filters facet-list">'+
          '</ul><button id="clear-all-filters" class="clear-filters flt-right discovery-button">Borrar todo</button></div>';
      edx.HtmlUtils.append($("#filter-bar")[0], edx.HtmlUtils.HTML(filterBarHtml));
    }*/
    
    function createBtnActiveFilters(type, value){
      $("#" + type).remove();
      let buttons = '<li class="active-filter" id="{type}"><button data-value="{value}" class="facet-option discovery-button" data-type="{type}">'+
          '<span class="query">"{value}"</span><span aria-hidden="true" class="fa fa-times"></span></button></li>';
      let filterBtn = edx.HtmlUtils.interpolateHtml(edx.HtmlUtils.HTML(buttons), {type:type, value:value});
      edx.HtmlUtils.append($("#active-filters")[0], filterBtn);
    }
    function removeBtnActiveFilters(type, value){
      $("#" + type).remove();
      if ( $('#active-filters').children().length == 0 ) $('#filter-bar').addClass("is-collapsed");
    }
    function cleanCourses(){
      index = 0;
      currentTotal = 0;
      state = 1;
      $("#discovery-message").text("");
      $("#list-courses").html('')
    }
  })
</script>
