<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='../static_content.html'/>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("About")}</%block>
<section class="container-fluid px-0" id="about_us">
    <img src="${static.url('open-uchile-theme/images/about_us.jpg')}" alt="About Us" class="mx-auto openuchile-header d-block">
    <img class="uchile-separator" src="${static.url('open-uchile-theme/images/uchile_separator.png')}" alt="">
    <div class="container px-3">
        <h1 class="text-left">
            ${_('What is Open UChile?')}
        </h1>
        <div class="about-content">
            <p>${_('Universidad de Chile (UChile) is the first University in the country, within the 500 in the World and 9th in Latin America')} (<a href="https://www.scimagoir.com/rankings.php?country=Latin%20America" target="_blank">SCMIAGO 2020</a>). ${_('As a public university, UChile is deeply concerned about global issues, such as Climate Change and the UN2030 agenda.')}</p>
            <p>${_('Chile is a natural laboratory in a really complex environment, from Atacama Desert to Antarctica, threatened by 9 (out of 10) natural hazards (Disasters and Climate Change). This condition provides us a perfect location to develop research centers in different areas, such as mining, geology, seismology, earthquake resistant infrastructure and public affairs. Our academics have deep knowledge and experience and are worldwide referents in those topics, and this MOOC platform seeks to spread those knowledge and experience.')}</p>
            <p>${_('UChile is also founder member of the Global MOOC Alliance (Tsinghua University, Cornell University, Center for Research and Interdisciplinarity (CRI), Peking University, Politecnico di Milano, Saint Petersburg State University, Shanghai Jiao Tong University, The University of Auckland, The University of Manchester, University of Nairobi, University of Toronto,')} <a href="https://mooc.global/gma/global-mooc-alliance-launched-to-promote-high-quality-education/" target="_blank">${_('among others')}</a>.</p>
        </div>
    </div>
</section>