<%page expression_filter="h" />
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='../static_content.html' />
<%inherit file="../main.html" />

<%block name="pagetitle">${_("FAQ")}</%block>
<style>
    .container-center {
        position: relative;
        text-align: center;
        color: white;
    }
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 5.5vw;
        width: 100%;
    }
    .header-open-faq{
        color: #069bdc;
        font-weight: bold;
        margin-top: 40px;
    }
</style>
<section class="container-fluid px-0" id="faq" >
    <div class="container-center">
        <img src="${static.url('open-uchile-theme/images/banner-03-bg.jpg')}" alt='${_("FAQ")}' class="mx-auto openuchile-header d-block">
        <div class="centered">${_("FAQ")}</div>
    </div>
    <img class="uchile-separator" src="${static.url('open-uchile-theme/images/uchile_separator.svg')}" alt="">
    <div class="container px-3">
        <h1 class="text-center">
            ${_('Frequently Asked Questions')}
        </h1>
        <div class="accordion" id="faqsaccordion">
            <h2 class="header-open-faq">Sobre OpenUChile</h2>
            <div class="accordion-item my-2">
                <h2 class="accordion-header" id="headingfaq1">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#faq1" aria-expanded="true" aria-controls="faq1">
                        ¿Qué es OpenUChile?
                    </button>
                </h2>
                <div id="faq1" class="accordion-collapse collapse" aria-labelledby="headingOne"
                    data-bs-parent="#faqsaccordion">
                    <div class="accordion-body">
                        OpenUChile es una plataforma de cursos y programas formativos de postgrado, postítulo y
                        extensión de la Universidad de Chile. A través de este sitio web, se busca visualizar la diversidad de
                        oferta formativa que las distintas unidades académicas imparten tanto para estudiantes como
                        para público general.
                    </div>
                </div>
            </div>

            <div class="accordion-item my-2">
                <h2 class="accordion-header" id="headingfaq2">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#faq2" aria-expanded="false" aria-controls="faq2">
                        ¿Qué equipamiento debo tener para tomar un curso en OpenUChile?
                    </button>
                </h2>
                <div id="faq2" class="accordion-collapse collapse" aria-labelledby="faq2"
                    data-bs-parent="#faqsaccordion">
                    <div class="accordion-body">
                        Requieres un computador conectado a Internet. Si bien nuestro sitio web está diseñado para
                        visualizarse desde diversos dispositivos, funciona óptimamente con los navegadores Edge, Chrome
                        y Firefox. Si no los tienes, puedes descargarlos gratuitamente en sus sitios corporativos.
                    </div>
                </div>
            </div>

            <div class="accordion-item my-2">
                <h2 class="accordion-header" id="headingfaq3">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#faq3" aria-expanded="false" aria-controls="faq3">
                        ¿Puedo tener más de una cuenta de usuario en OpenUChile?
                    </button>
                </h2>
                <div id="faq3" class="accordion-collapse collapse" aria-labelledby="faq3"
                    data-bs-parent="#faqsaccordion">
                    <div class="accordion-body">
                        No, en la plataforma se solicita que uses una sola cuenta, usando tu información personal
                        fidedigna. De lo contrario, los procesos de verificación de identidad podrían verse afectados.
                    </div>
                </div>
            </div>
            <div class="accordion-item my-2">
                <h2 class="accordion-header" id="headingfaq4">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#faq4" aria-expanded="false" aria-controls="faq4">
                        ¿Los cursos de OpenUChile entregan certificación, título o grado académico?
                    </button>
                </h2>
                <div id="faq4" class="accordion-collapse collapse" aria-labelledby="faq4"
                    data-bs-parent="#faqsaccordion">
                    <div class="accordion-body">
                        Las condiciones de certificación serán estipuladas en cada curso o programa formativo. Dicha
                        certificación, título o grado académico estarán sujetas a la reglamentación universitaria vigente.
                        Además, la certificación de los aprendizajes estará sujeta a los precios y condiciones de aprobación
                        de cada curso o programa formativo.
                    </div>
                </div>
            </div>
            <h2 class="header-open-faq">Registro en OpenUChile</h2>
            <div class="accordion-item my-2">
                <h2 class="accordion-header" id="headingfaq5">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#faq5" aria-expanded="false" aria-controls="faq5">
                        ¿Cómo me registro en OpenUChile?
                    </button>
                </h2>
                <div id="faq5" class="accordion-collapse collapse" aria-labelledby="faq5"
                    data-bs-parent="#faqsaccordion">
                    <div class="accordion-body">
                        1. Para registrarse en OpenUChile, sigue los siguientes pasos: <br>
                        2. Dirígete al botón Iniciar Sesión, en la página principal (ángulo superior derecho).<br>
                        3. Haz clic en Crear una cuenta.<br>
                        4. Una vez ahí, digita: nombre, apellidos, correo electrónico, ciudad y país, entre otros.<br>
                        5. Luego, si estás de acuerdo, acepta los términos del servicio (condiciones de la plataforma)<br>
                        y el Código de honor (compromiso de probidad para realizar cursos).<br>
                        6. Hecho esto, crea un nombre de usuario y contraseña especial en nuestra página.<br>
                        7. Luego, recibirás un correo de activación de tu cuenta; sigue las instrucciones.<br>
                        8. Recuerda que tu usuario para acceder, es el correo electrónico que registraste.
                    </div>
                </div>
            </div>
            <div class="accordion-item my-2">
                <h2 class="accordion-header" id="headingfaq6">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#faq6" aria-expanded="false" aria-controls="faq6">
                        ¿Cómo cambio mi nombre y/o contraseña?
                    </button>
                </h2>
                <div id="faq6" class="accordion-collapse collapse" aria-labelledby="faq6"
                    data-bs-parent="#faqsaccordion">
                    <div class="accordion-body">
                        Accede a tu sesión en open.uchile.cl; dentro de ella, encontrarás el botón Cuenta, donde podrás
                        restablecer y modificar tu nombre completo y/o contraseña. El nombre completo registrado debe
                        coincidir con los registrados en los documentos de identidad, para poder verificar identidad y
                        emitir certificaciones oficiales electrónicas.
                    </div>
                </div>
            </div>
            <div class="accordion-item my-2">
                <h2 class="accordion-header" id="headingfaq7">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#faq7" aria-expanded="false" aria-controls="faq7">
                        ¿Cómo recupero una contraseña olvidada?
                    </button>
                </h2>
                <div id="faq7" class="accordion-collapse collapse" aria-labelledby="faq7"
                    data-bs-parent="#faqsaccordion">
                    <div class="accordion-body">
                        En caso de no recordar tu contraseña, ejecute los siguientes pasos: <br>
                        1. Dirígete al botón <strong>Iniciar Sesión.</strong><br>
                        2. Presiona en <strong>¿Necesita ayuda para iniciar sesión?</strong><br>
                        3. Luego, escribe el correo electrónico registrado y selecciona <strong>"Recuperar mi contraseña".</strong><br>
                        4. En unos instantes un correo electrónico llegará a tu casilla, con las instrucciones para crear
                        una nueva contraseña. <strong>Si no llega luego de unos minutos, revisa las bandejas de spam
                        (correo no deseado).</strong>
                    </div>
                </div>
            </div>
            <div class="accordion-item my-2">
                <h2 class="accordion-header" id="headingfaq8">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#faq8" aria-expanded="false" aria-controls="faq8">
                        ¿Cómo cambio mi nombre y/o contraseña?
                    </button>
                </h2>
                <div id="faq8" class="accordion-collapse collapse" aria-labelledby="faq8"
                    data-bs-parent="#faqsaccordion">
                    <div class="accordion-body">
                        Sí, OpenUChile se reserva el derecho de caducar la cuenta de aquellos usuarios que no respeten
                        los términos y condiciones de la plataforma.
                    </div>
                </div>
            </div>
            <h2 class="header-open-faq">Otras Consultas en OpenUChile</h2>
            <div class="accordion-item my-2">
                <h2 class="accordion-header" id="headingfaq9">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#faq9" aria-expanded="false" aria-controls="faq9">
                        ¿Cuánto cuestan y cuánto duran los cursos y programas en OpenUChile?
                    </button>
                </h2>
                <div id="faq9" class="accordion-collapse collapse" aria-labelledby="faq9"
                    data-bs-parent="#faqsaccordion">
                    <div class="accordion-body">
                        Tanto los precios como la duración de la instancia dependerán de las condiciones propias de cada
                        curso o programa formativo.
                    </div>
                </div>
            </div>

            <div class="accordion-item my-2">
                <h2 class="accordion-header" id="headingfaq10">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#faq10" aria-expanded="false" aria-controls="faq10">
                        ¿Quiénes pueden tomar cursos en OpenUChile?
                    </button>
                </h2>
                <div id="faq10" class="accordion-collapse collapse" aria-labelledby="faq10"
                    data-bs-parent="#faqsaccordion">
                    <div class="accordion-body">
                        Los requisitos académicos de ingreso serán fijados por las unidades académicas, y dependerán de
                        las condiciones propias de cada curso o programa formativo.
                    </div>
                </div>
            </div>

            <div class="accordion-item my-2">
                <h2 class="accordion-header" id="headingfaq11">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#faq11" aria-expanded="false" aria-controls="faq11">
                        ¿En qué horario se dictan las clases en OpenUChile?
                    </button>
                </h2>
                <div id="faq11" class="accordion-collapse collapse" aria-labelledby="faq11"
                    data-bs-parent="#faqsaccordion">
                    <div class="accordion-body">
                        Dependerá de la modalidad en la cual está programa el curso. <br>
                        Si se trata de una instancia <strong>SINCRÓNICA</strong>, los horarios serán fijados por las unidades académicas, y
                        dependerán de las condiciones propias de cada curso o programa formativo. Si se trata de una
                        instancia <strong>ASINCRÓNICA</strong>, los cursos, con sus materiales y recursos audiovisuales, están disponibles
                        las 24 horas del día, durante las fechas que se dicte el curso en la plataforma.
                    </div>
                </div>
            </div>

            <div class="accordion-item my-2">
                <h2 class="accordion-header" id="headingfaq12">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#faq12" aria-expanded="false" aria-controls="faq12">
                        ¿Qué significan los créditos académicos?
                    </button>
                </h2>
                <div id="faq12" class="accordion-collapse collapse" aria-labelledby="faq12"
                    data-bs-parent="#faqsaccordion">
                    <div class="accordion-body">
                        El Sistema de Créditos Transferibles, denominado SCT-Chile, busca medir, racionalizar y distribuir
                        el trabajo académico de los estudiantes entre las diversas actividades curriculares que componen
                        su plan de estudios, teniendo como objetivos: <br> <br>
                        - Considerar el tiempo que requiere un estudiante para el logro de los resultados de
                        aprendizaje y el desarrollo de las competencias laborales en una determinada actividad
                        curricular <br>
                        - Promover la legibilidad de un programa de formación y la transferencia de estos créditos
                        académicos de una institución a otra. <br>
                        - Favorecer la movilidad estudiantil universitaria. <br> <br>
                        Para mayor información, puedes visitar el sitio web <a href="https://sct-chile.consejoderectores.cl/">https://sct-chile.consejoderectores.cl/.</a>
                    </div>
                </div>
            </div>

            <div class="accordion-item my-2">
                <h2 class="accordion-header" id="headingfaq13">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#faq13" aria-expanded="false" aria-controls="faq13">
                        ¿Qué señala la certificación electrónica que otorga OpenUChile?
                    </button>
                </h2>
                <div id="faq13" class="accordion-collapse collapse" aria-labelledby="faq13"
                    data-bs-parent="#faqsaccordion">
                    <div class="accordion-body">
                        Las certificaciones electrónicas emitas desde OpenUChile contienen, a lo menos: <br> <br>
                        - Nombre completo del estudiante registrado en plataforma. <br>
                        - Nombre del curso aprobado.<br>
                        - Calificación y escala de aprobación.<br>
                        - Fechas de inicio y término de la instancia formativa.<br>
                        - Horas cronológicas de duración y su equivalencia en créditos académicos.<br>
                        - Logotipos de las entidades responsables de los cursos.<br>
                        - Firmas de las autoridades correspondientes. <br> <br>

                        Además, contiene un <strong>código de verificación</strong> que enlaza a un registro público para verificación y
                        registro del documento. <br>
                        No obstante, las unidades académicas, dependiendo de las condiciones de cada curso o programa
                        formativo, podrán hacer ajustes a los formatos de sus certificaciones electrónicas. También, se
                        reservan el derecho de entregar dichos certificados en formato físico, y/o agregar documentación
                        adicional que acredite los aprendizajes obtenidos.
                    </div>
                </div>
            </div>

            <div class="accordion-item my-2">
                <h2 class="accordion-header" id="headingfaq14">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#faq14" aria-expanded="false" aria-controls="faq14">
                        ¿Puedo cambiar el nombre que aparece en mi certificación?
                    </button>
                </h2>
                <div id="faq14" class="accordion-collapse collapse" aria-labelledby="faq14"
                    data-bs-parent="#faqsaccordion">
                    <div class="accordion-body">
                        Las certificaciones se emiten utilizando el nombre completo que informaste en la inscripción en
                        nuestra plataforma, el cual debe ser el mismo que aparece en tu documento de identificación
                        nacional o pasaporte. En varias ocasiones durante la ejecución del curso, te solicitamos verificarlo
                        y editarlo, en caso de estar errado.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
