<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>
<%! from django.utils.translation import ugettext as _ %>
<%! from portal_api.utils import get_active_enroll_courses, get_platform_names %>

<%
  from django.utils import timezone
  now = timezone.now()
  courses_portal_api = get_active_enroll_courses()
  platforms_name = get_platform_names()
%>
<style>
.course-title-container{
  background: #172c6b;
  padding: 2px 20px;
  display: flex;
}
  .course-tittle {
    /*background: #00bcfc;*/
    font-size: 24px;
    color: #fff;
    text-align: center;
    font-weight: 1000;
    font-family: 'Exo 2', sans-serif;
    /*margin: 32px 0 0;*/
    text-transform: uppercase;
    display: contents;
    /*padding: 2px 20px;*/
}
</style>
<%! from course_classification.helpers import get_course_ctgs %>
% if settings.FEATURES.get('SHOW_COURSES_BY_CLASS'):
<%  course_class = get_course_ctgs(courses) %>
  %for categ in course_class.values():
    %if (categ['show_opt'] == 2 or (categ['show_opt'] == 1 and len(course_class[categ['id']]['courses']) > 0)):
      <section class="courses-container courses-spanish">
        <div class="course-title-container">
          <h2 class="course-tittle">${categ['name'].capitalize()}</h2> 
        </div>
        <section class="highlighted-courses" style="padding-top: 25px;">
          % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
            <section class="row courses-list">
              %for course in course_class[categ['id']]['courses']:
                %if course.end is not None and course.end > now:
                  <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-4">
                    <%include file="course.html" args="course=course" />
                  </div>
                %elif course.end is None:
                  <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-4">
                    <%include file="course.html" args="course=course" />
                  </div>
                %endif
              %endfor
            </section>
          % endif
        </section>
      </section>
    %endif
    %if (categ['show_opt'] == 2 and len(course_class[categ['id']]['courses']) == 0):
      <p class="without-courses" style="padding-bottom: 10px;"> ${_("No existen cursos")}</p>
    %endif
  %endfor
%else:
<section class="courses-container">
  <section class="highlighted-courses" style="padding-top: 25px;">
    % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
      <section class="row courses-list">
          ## limiting the course number by using HOMEPAGE_COURSE_MAX as the maximum number of courses
          %for course in courses:
            %if course.end is not None and course.end > now:
              %if course.enrollment_start is not None and course.enrollment_end is not None:
                %if course.enrollment_end > now:
                  %if course.id.course[-2:] == '_E':
                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-4 courses-english">
                        <%include file="course.html" args="course=course" />
                    </div>
                  %else:
                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-4 courses-spanish">
                      <%include file="course.html" args="course=course" />
                    </div>
                  %endif
                %endif
              %endif
            %elif course.end is None:
              %if course.enrollment_start is not None and course.enrollment_end is not None:
                %if course.enrollment_end > now:
                  %if course.id.course[-2:] == '_E':
                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-4 courses-english">
                        <%include file="course.html" args="course=course" />
                    </div>
                  %else:
                    <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-4 courses-spanish">
                      <%include file="course.html" args="course=course" />
                    </div>
                  %endif
                %endif
              %endif
            %endif
          %endfor
      </section>
    % endif
  </section>
</section>
% endif
%for platform in courses_portal_api:
  % if len(courses_portal_api[platform]) > 0:
    <section class="courses-container courses-spanish">
      <div class="course-title-container">
        <h2 class="course-tittle">${platforms_name[platform]}</h2>
      </div>
      <section class="highlighted-courses" style="padding-top: 25px;">
        % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
          <section class="row courses-list">
            %for course_portal in courses_portal_api[platform]:
              <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 mb-4">
                <%include file="course_portal.html" args="course=course_portal" />
              </div>
            %endfor
          </section>
        % endif
      </section>
    </section>
  % endif
%endfor
<!--script type="text/javascript">
  $(window).load(function() {
      var lang = $.cookie("openedx-language-preference");
      if(lang == 'es' || lang == 'es-419'){
        $('.courses-spanish').show()
        $('.courses-english').hide()
      }
      else{
        $('.courses-spanish').hide()
        $('.courses-english').show()
      }
  })
</script-->