<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse

from openedx.core.djangolib.markup import HTML, Text
%>
<style>
  .container-center {
      position: relative;
      text-align: center;
      color: white;
  }
  .title-1 {
      position: absolute;
      top: 32%;
      left: 232px;
      font-size: 5.1vw;
      font-weight: 100;
  }
  .title-2 {
      position: absolute;
      top: 52%;
      left: 232px;
      font-size: 5.1vw;
      font-weight: bold;
  }
  .title-3 {
      position: absolute;
      top: 72%;
      left: 232px;
      font-size: 5.1vw;
      font-weight: 100;
  }
  #main .course-search .search-input {
      border: 2px solid #c8c8c8;
      border-radius: 3px;
      box-shadow: none;
      width: 350px;
      height: 55px;
      color: #000;
      font-style: normal;
      font-weight: normal;
  }
  #main .course-search .search-button {
    z-index: 100;
    -webkit-border-top-left-radius: 1px;
    -moz-border-topleft-radius: 1px;
    border-top-left-radius: 1px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-topright-radius: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-bottomright-radius: 3px;
    border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 1px;
    -moz-border-bottomleft-radius: 1px;
    border-bottom-left-radius: 1px;
    position: absolute;
    border: 2px solid #1790c7;
    box-shadow: none;
    background: #009ee7;
    padding: 0 14px;
    height: 55px;
    color: #fff;
    text-shadow: none;
    font-size: 24px;
    font-weight: 600;
  }
  .course-search{
    margin-top: 20px;
    width: 350px;
    height: 55px;
    margin-right: 70px;
    float: right;
  }
</style>
<section class="container-fluid px-0" id="main">
  <div class="container-center">
    <img src="${static.url('open-uchile-theme/images/banner-01-bg.jpg')}" class="mx-auto openuchile-header d-block">
      <div class="title-1">${_("Open UChile ")}</div>
      <div class="title-2">${_("E-Learning ")}</div>
      <div class="title-3">${_("Platform ")}</div>
  </div>
  <img class="uchile-separator" src="${static.url('open-uchile-theme/images/uchile_separator.png')}" alt="">
  % if settings.FEATURES.get('ENABLE_COURSE_DISCOVERY'):
    <div class="course-search">
      <form method="get" action="/courses">
        <label><span class="sr">${_("Search for a course")}</span>
          <input class="search-input" name="search_query" type="text" placeholder="${_("Search for a course")}"></input>
        </label>
        <button class="search-button" type="submit">
          <span class="icon fa fa-search" aria-hidden="true"></span><span class="sr">${_("Search")}</span>
        </button>
      </form>
    </div>
  % endif
  <div class="container px-3">
    <%include file="${courses_list}" />
  </div>
</section>

<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif