<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse
from django.conf import settings
from openedx.core.djangolib.markup import HTML, Text
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
%>

<%block name="header_extras">
<link rel="stylesheet" href="${static.url('open-uchile-theme/owlcarousel/owl.carousel.min.css')}">
<link rel="stylesheet" href="${static.url('open-uchile-theme/owlcarousel/owl.theme.default.min.css')}">
<script type="text/javascript" src="${static.url('open-uchile-theme/owlcarousel/owl.carousel.min.js')}"></script>
</%block>
<%block name="pagetitle">${_("Home")}</%block>
<%block name="headextra">
## OG (Open Graph) title and description added below to give social media info to display
<meta property="og:title" content="${self.pagetitle()}">
<meta property="og:description" content="${configuration_helpers.get_value('EOL_OG_SITE_DESCRIPTION', '')}">
<meta property="og:type" content="website">
<meta property="og:image" content="${static.url('open-uchile-theme/images/banner-linkedIn-2025.png')}">
<meta property="og:url" content="${configuration_helpers.get_value('LMS_ROOT_URL', settings.LMS_ROOT_URL)}">
<meta property="og:site_name" content="${configuration_helpers.get_value('EOL_OG_SITE_NAME', '')}">
<meta property="og:locale" content="es_CL">
</%block>
<section class="container-fluid px-0" id="main">
  <div class="container-center">
    <img src="${static.url('open-uchile-theme/images/svg-2023/bannerOpenUchile.jpg')}" class="mx-auto openuchile-header d-block">
      <!--div class="title-1">${_("Open UChile ")}</div>
      <div class="title-2">${_("E-Learning Platform ")}</div-->
  </div>
  <img class="uchile-separator" src="${static.url('open-uchile-theme/images/uchile_separator.png')}" alt="">
  % if settings.FEATURES.get('ENABLE_DASHBOARD_SEARCH'):
  <%!
   from course_classification.helpers import get_all_logos
  %>
    <div class="open-carousel-orgs">
      <div class="carousel-wrap">
        <div class="owl-carousel">
          %for logo in get_all_logos():
           %if logo[1]:
            <div class="item"><a href="${logo[1]}" target="_blank"><img src="${logo[0]}"></div></a>
           %else:
           <div class="item"><a href="/" target="_blank"><img src="${logo[0]}"></div></a>
           %endif
          %endfor
        </div>
      </div>
    </div>
  % endif
  <div class="px-3" style="margin-top: 25px;">
    <%include file="${courses_list}" />
  </div>
</section>

<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
      $(document).ready(function(){
        $('.owl-carousel').owlCarousel({
          loop: true,
          margin: 40,
          nav: true,
          autoWidth: true,
          slideTransition: 'linear',
          autoplayTimeout: 3000,
          autoplaySpeed: 3000,
          dots: false,
          navText: [
            "<i class='fa fa-angle-left'></i>",
            "<i class='fa fa-angle-right'></i>"
          ],
          autoplay: true,
          autoplayHoverPause: true,
          responsive: {
            0: {
              items: 1
            },
            600: {
              items: 2
            },
            1000: {
              items: 4
            },
            1500: {
              items: 5
            }
          },
        })
      });
   </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif
