p, h1, h2, h3, h4, h5, ul, ol, li, div, button, a, label, input, select, option, textarea, .btn {
    font-family: 'Inter', sans-serif;
    font-weight: normal;
}

.openuchile-bg {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

img.openuchile-header {
    min-width: 100%;
    max-width: 100%;
    height: auto;
}

.navbar-brand img {
    max-height: 90px;
    max-width: 50vw;
}

.navbar-toggler {
    color: #004B93;
    background-color: white;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
    border: none;
    border-color: none;
    height: 44px;

}
.navbar-light .navbar-toggler:hover{
    background-image: none;
    background-color: white;
    border-color: white;
    color: #008852;
    font-size: 28px;
}
.navbar-light .navbar-toggler{
    background-image: none;
    background-color: white;
    border-color: white;
    color: #004B93;
    text-shadow: none;
    font-size: 28px;
}

.navbar-toggler .fa-bars{
    color: #004B93;
}

.navbar-toggler .fa-bars:hover{
    background-color: white;
    border-color: white;
    color: #008852;
    text-shadow: none;
    font-size: 28px;
}

#open-navbar button:hover:not(:disabled),
#open-navbar button:focus:not(:disabled),
#open-navbar button:hover,
#open-navbar button:focus{
    background-color: white;
    border-color: white;
    color: #008852;
    text-shadow: none;
    font-size: 28px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.09);

}
.navbar-toggler:hover {
    background-color: white;
    border-color: white;
    color: #008852;
    text-shadow: none;
    font-size: 28px;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.09);
}
.uchile-separator {
    display: block;
    width: 100%;
    height: 6px;
}

.navbar .nav-item {
    margin: 0 20px 20px 0;
}

/*.navbar .nav-item .nav-link {
    border-bottom: .25rem solid transparent;
}*/

.navbar .nav-item .nav-link.active {
    color: #0075b4;
}

.navbar .nav-item .nav-link:not(.btn):hover, .navbar .nav-item .nav-link:not(.btn):focus {
    border-color: #008852 !important;
    color: #008852;
    text-decoration: none;
}

.navbar .nav-item button.btn {
    box-shadow: none !important;
    color: #ffff;
    background: none;
    background-color: #004B93;
    border-color: #004B93;
    text-shadow: none;
}

.navbar .nav-item button.btn:hover {
    background-color: #048dc9;
    border-color: #048dc9;
}
footer#openuchile-footer {
    background-color: #F7F7F7;
    border-top-right-radius: 150px;
}
footer#openuchile-footer .text-center.fw-bolder .text-muted,
footer#openuchile-footer .text-center.fw-bolder{
    color:  #000000;
}
footer#openuchile-footer a{
    color:  #004B93;
}

footer#openuchile-footer img {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    /* Firefox 3.5+ */
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(100%);
    /* Chrome 19+ & Safari 6+ */
}

footer#openuchile-footer img:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
}

/* FAQ */

#faq h1 {
    color: #004B93;
}

#faq .accordion-item {
    background-color: #ffffff5e;
    border: 1px solid rgba(0, 0, 0, .125);
}

#faq .accordion-button {
    background: none;
    text-shadow: none;
    box-shadow: none;
    padding-left: 2rem;
    padding-right: 2rem;
}

#faq .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform: rotate(-0deg);
    color: black;
}

#faq .accordion-button::after {
    transform: rotate(-90deg);
}

#faq .accordion-button:not(.collapsed), #faq .accordion-collapse {
    background-color: #afafaf5e;
}

#faq .accordion-button {
    color: black;
    font-weight: bold;
}

#faq .accordion-body {
    padding: 0rem 2rem 1rem 2rem;
}

/* Certificate Validation */

#certificate_validation add-margin-bottom {
    border-bottom: .15rem solid black;
    color: black;
}

#certificate_validation .card, #certificate_validation input {
    background-color: #00000021;
    border: none;
}

#certificate_validation .btn {
    box-shadow: none !important;
    color: #ffff;
    background: none;
    background-color: #004B93;
    border-color: #004B93;
    text-shadow: none;
}

#certificate_validation .btn:hover {
    background-color: #048dc9;
    border-color: #048dc9;
}

/* Contact Form */

#eol-contact .contact-card, #eol-contact input, #eol-contact select, #eol-contact textarea {
    background-color: #00000017 !important;
}

#eol-contact .form-submit {
    width: auto;
}

#eol-contact .btn {
    box-shadow: none !important;
    color: #ffff;
    background: none;
    background-color: #0075b4 !important;
    border-color: #0075b4;
    text-shadow: none;
}

#eol-contact .btn:hover {
    background-color: #0075b4 !important;
    border-color: #0075b4;
}

/* LOGIN */

#login-and-registration-container {
    background-color: transparent;
    margin: 0;
    max-width: none;
}

.container #content-container{
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.2);
}

#content-container h1 {
    text-align: center;
    color: black;
    font-size: 32px;
    font-weight: 500;
}
#content-container h2 {
    text-align: center;
    color: black;
    font-size: 32px;
    font-weight: 500;
}

/* Courses List */

.courses-list {
    margin-left: 0px;
    margin-right: 0px;
}
.courses-list li:nth-child(2n+1) {
    margin-right: 1em;
}

.courses-list .card,
#open-carousel-courses .card  {
    /* background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 300px;
    max-height: 300px; */
    border: none;
    box-shadow: 0 0 11px 8px rgba(0,0,0,0.14);
    padding: 10px;
}

.courses-list .card.inactive,
#open-carousel-courses .card.inactive{
    filter: grayscale(90%);
}

/*.courses-list .card .card-body {
    min-height: 0px;
    padding: 0px;
}*/

.courses-list .card .card-footer,
#open-carousel-courses .card .card-footer {
    background-color: #172c6b;
    /* opacity: 0.9; */
    line-height: 1.2;
    font-size: 0.8em;
    height: 100px;
    overflow: hidden;
}

.courses-list .card .card-footer .course-name,
#open-carousel-courses .card .card-footer .course-name {
    font-size: 1.2em;
}

.courses-list .card .card-date,
#open-carousel-courses .card .card-date {
    background-color: #C3DDE8;
    padding: 0 1.25rem;
    color: #515151;
    font-size: 0.8em;
    height: 20px;
}

.courses-list .card:not(:hover) .card-desc,
.courses-list .card:not(:hover) .card-desc p,
.courses-list .card:not(:hover) .card-desc .card-button,
#open-carousel-courses .card:not(:hover) .card-desc,
#open-carousel-courses .card:not(:hover) .card-desc p,
#open-carousel-courses .card:not(:hover) .card-desc .card-button  {
    height: 0px;
    opacity: 0;
    padding: 0;
}

.courses-list .card:not(:hover) .card-desc .card-button .btn,
#open-carousel-courses .card:not(:hover) .card-desc .card-button .btn {
    display: none;
}

.courses-list .card .card-desc,
#open-carousel-courses .card .card-desc {
    background-color: #172c6b;
    /* opacity: 0.9; */
    padding: .75rem 1.25rem;
}

.courses-list .card .card-desc p,
#open-carousel-courses .card .card-desc p {
    height: 100px;
    font-size: 0.8em;
    overflow: hidden;
    text-overflow: -o-ellipsis-lastline;
}

.courses-list .card .card-desc .card-button,
#open-carousel-courses.card .card-desc .card-button {
    max-height: 80px;
}

.courses-list .card:hover .card-desc,
#open-carousel-courses .card:hover .card-desc {
    height: 180px;
    transition: height .2s;
}

.courses-list .card:hover .card-desc p,
.courses-list .card:hover .card-desc .card-button,
#open-carousel-courses .card:hover .card-desc p,
#open-carousel-courses .card:hover .card-desc .card-button {
    transition: opacity 0.7s;
}

.courses-list .card .card-desc .card-button button.btn,
#open-carousel-courses .card .card-desc .card-button button.btn {
    background-color: #FFFF !important;
    color: #172c6b !important;
    background-image: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
    font-family: "Trebuchet MS" !important;
}

.courses-list .card .card-desc .card-button button.btn:hover,
#open-carousel-courses .card .card-desc .card-button button.btn:hover {
    color: black !important;
}

/* Course About */

.course-info h1 {
    font-weight: 700;
}

.course-info .course-header {
    flex-direction: column;
    display: flex;
}

.course-info button.btn {
    box-shadow: none !important;
    color: #ffff;
    font-weight: bold;
    padding: 10px;
    background: none;
    background-color: #004B93;
    border-color: #004B93;
    text-shadow: none;
    width: 60%;
}

.course-info button.btn:hover {
    background-color: #008852;
    border-color: #008852;
    border: 2px #008852 solid;
    background-image: none;
}

.course-info .course-about-image {
    border-radius: 7px;
}

.course-info .media .play-intro {
    background-image: -webkit-linear-gradient(-90deg, rgba(0, 156, 221, 0.58), rgba(0, 156, 221, 0.28));
    background-image: linear-gradient(-90deg, rgba(0, 156, 221, 0.58), rgba(0, 156, 221, 0.28));
    border-radius: 4px;
    box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.4);
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 100px;
    height: 80px;
    left: 50%;
    margin-top: -40px;
    margin-left: -40px;
    position: absolute;
    top: 50%;
    width: 80px;
}

.course-info .info-row {
    background-color: #F7F7F7;
}

.course-info .info-row img.icon {
    max-width: 40px;
}

.course-info .menu {
    background-color: #dbdbdb;
    color: #048dc9;
    font-weight: 400;
}

.menu-sticky {
    position: -webkit-sticky;
    /* Safari & IE */
    position: sticky;
    top: 0;
}

.course-info .menu a {
    color: black;
}

.course-info .about-details p, .course-info .about-details strong, .course-info .about-details li {
    text-align: justify;
    font-size: 1.2em;
    line-height: normal;
}

.course-info .grey-background {
    background-color: #8080804d;
}

.course-info .instructor {
    background-color: #bdc0c1;
}

.enroll-message {
    text-decoration: none;
    color: black !important;
    cursor: text;
    margin-top: 30px !important;
}

.enroll-button {
    align-self: initial !important;
    background-color: #dbdbdb;
    border-color: #dbdbdb;
}

.enroll-button-2 {
    margin-bottom: auto !important;
}


body {
    line-height: 1.4;
}

/*
* Course About
*/

#open-course-about .inner-wrapper {
    border-radius: 7px;
    color: #515151;
}
#open-course-about .media{
    display: flex;
}

#open-course-about .inner-wrapper table{
    font-size: 0.9em;
}

#open-course-about .inner-wrapper h1 {
    color: var(--primary-color);
}
#open-course-about .inner-wrapper p.course-org {
    color: var(--primary-color);
}

#open-course-about .inner-wrapper .menu {
    border: none;
    border-radius: 0px;
    border-bottom: .05rem solid #515151;;
    background: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
    letter-spacing: normal !important;
    color: #515151;
    font-weight: normal;
    font-size: 18px;
}

#open-course-about .inner-wrapper .menu.active {
    margin-bottom: -.12rem;
    border-bottom: .30rem solid #515151;;
    font-weight: bold;
}

#open-course-about .inner-wrapper .menu:focus {
    outline: none;
    box-shadow: none;
}

#open-course-about .inner-wrapper .menu-content-section {
    display: none;
    padding: 10px;
    text-align: justify;
}

#open-course-about .inner-wrapper .menu-content-section.active {
    display: block;
}

#open-course-about .inner-wrapper .menu-content-section .author img {
    max-width: 120px;
}

.course-about-card .card-header {
    cursor: pointer;
}

.course-about-card .card-question {
    margin-bottom: 0;
}
.eoldiscussion-module .row{
    margin-right: auto !important;
    margin-left: auto !important;
}

.eoldiscussion-module .eol-notification-btn, .eoldiscussion-module .row.eol-thread div:first-child{
    width: auto !important;
}
.eoldiscussion-module hr {
    opacity: unset !important;
}


/* New Desing and Search button */
a.nav-link.user-menu{
    filter: brightness(0) saturate(100%) invert(17%) sepia(119%) saturate(4392%) hue-rotate(185deg) brightness(83%) contrast(140%);
    transition: none;
}
a.nav-link.user-menu:hover,
.nav-link.user-menu:focus{
    filter: brightness(0) saturate(100%) invert(29%) sepia(100%) saturate(746%) hue-rotate(98deg) brightness(92%) contrast(97%);
}
.open-mobile-view{
    display: block;
}
.open-mobile-view .nav-item{
    font-weight: 500;
}
.open-desktop-view.nav-item.dropdown{
    display: none;
}
#openMenu{
    display: none;
}

#open-navbar .nav-link.register,
#open-navbar .nav-link.sign-in{
	border:none;
	border-radius: none;
	border-color: none;
	padding: 0px;
	font-size: inherit;
	font-weight: 500;
	width: inherit;
	height: inherit;
    align-items: start;
    justify-content: start;
    padding-top: .5rem;
    padding-bottom: .5rem;
    text-transform: capitalize;
}

#open-navbar .nav-link.register:hover,
#open-navbar .nav-link.sign-in:hover{
    border: none;
    border-color: none;
    color: #008852;
    text-decoration: none;
}

#userDropdownMenu .dropdown-divider {
    display: block;
}

@media (max-width: 991px) {
    #userDropdownMenu .dropdown-divider {
        display: none;
    }
    #userDropdownMenu .dropdown-item,  #userDropdownMenu .dropdown-header {
        text-decoration: none;
        padding: .5rem 1rem;
        padding-left: 0px;
        padding-right: 0px;
        font-size: 16px;
        font-weight: 500;
    }
     #userDropdownMenu .dropdown-item:hover {
        text-decoration: none;
        color: #008852;
        background-color: white;
        transition: none;
    }
    #profileDropdown{
        display: none;
    }
    #userDropdownMenu{
        display: block;
        border: none;
        padding: 0px;
    }
    .explore-courses-authenthicated{
        display: none;
    }
}


@media screen and (min-width: 991px) {
    .open-mobile-view{
        display: none;
    }
    .open-desktop-view{
        display: block;
    }
    .open-desktop-view.nav-item.dropdown{
        display: block;
    }
    #openMenu{
        display: block;
    }
    #open-navbar .nav-link.register,
    #open-navbar .nav-link.sign-in{
        border: 1px #004B93 solid;
        border-radius: 10px;
        border-color: #004B93;
        background-color: white;
        color: #004B93;
        padding: 0px 6px;
        font-size: 16px;
        font-weight: 500;
        width: 135px;
        height: 60px;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
    }
    #open-navbar .nav-link.sign-in{
        background-color: white;
        color: #004B93;
    }
    #open-navbar .nav-link.sign-in:hover{
        border: 2px #008852 solid;
        border-color: #008852;
        color: #008852;
        text-decoration: none;
    }
    #open-navbar .nav-link.register{
        background-color: #004B93;
        color: white;
    }
    #open-navbar .nav-link.register:hover{
        border: 2px #008852 solid;
        border-color: #008852;
        color: white;
        background-color: #008852;
    }
}

#open-navbar{
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.09);
    background-color: white;
    padding-top: 1rem;
    margin-top: 1rem;
    padding-bottom: 1rem;
    font-family: 'Raleway', sans-serif !important;
}
#open-navbar .nav-link {
    color: #004B93;
}
#open-navbar .nav-link:hover,
#open-navbar .nav-link:focus{
    color: #008852;
}
#open-navbar input[type="submit"]:hover:not(:disabled),
#open-navbar input[type="button"]:hover:not(:disabled),
#open-navbar button:hover:not(:disabled),
#open-navbar .button:hover:not(:disabled) {
    background-color: white;
    color: #004B93;
    background-image: none;
}
#open-navbar .searchbutton {
   z-index: 100;
   position: absolute;
   border: none;
   box-shadow: none !important;
   background: #0d3d8f;
   height: 35px;
   color: #fff;
   text-shadow: none;
   font-size: 24px;
   font-weight: 600;
}
#open-navbar .searchbutton:hover,
#open-navbar .searchbutton:active,
#open-navbar .searchbutton:focus,
#open-navbar .searchbutton:active{
   background: #0c1738;
   color: #0d3d8f;
}

.mglass {
   display: inline-block;
   pointer-events: none;
   -webkit-transform: rotate(-45deg);
   -moz-transform: rotate(-45deg);
   -o-transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   margin-left: 18px;
   margin-top: 1px;
}

#open-navbar .searchbutton {
   display: inline-block;
   background-color: #0d3d8f;
   font-size: 14px;
   padding-left: 32px;
   padding-right: 32px;
   height: 35px;
   line-height: 35px;
   text-align: center;
   color: #fff;
   text-decoration: none;
   cursor: pointer;
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
   position: absolute;
   font-size: 22px;
   width: 100%;
   margin: 0;
   padding: 0;
   border-radius: 10px 0 0 10px;
}
#open-navbar .searchbutton:hover {
   transition-duration: 0.4s;
   -moz-transition-duration: 0.4s;
   -webkit-transition-duration: 0.4s;
   -o-transition-duration: 0.4s;
   background-color: #0d3d8f;
   color: #172c6b;
}
#open-navbar .search:focus + #open-navbar .searchbutton {
   transition-duration: 0.4s;
   -moz-transition-duration: 0.4s;
   -webkit-transition-duration: 0.4s;
   -o-transition-duration: 0.4s;
   background-color: #0d3d8f;
   color: #fff;
}

#open-navbar .search {
   position: absolute;
   background-color: #0d3d8f;
   left: 49px;
   color: #fff;
   outline: none;
   border: none;
   padding: 0;
   padding-left: 8px;
   width: 80px;
   height: 100%;
   z-index: 10;
   border-radius: 0 10px 10px 0;
   transition-duration: 0.4s;
   -moz-transition-duration: 0.4s;
   -webkit-transition-duration: 0.4s;
   -o-transition-duration: 0.4s;
}
input[type="search"]::placeholder {
   color: #ffffff69;
   opacity: 1;  /* Firefox */
}
input[type="search"]:-webkit-input-placeholder {
   /* Chrome, Safari, Opera */
   color: #ffffff69;
}
input[type="search"]::-ms-input-placeholder {
   /* Microsoft Edge */
   color: #ffffff69;
}
#open-navbar .search:focus {
   width: 200px; /* Bar width+1px */
   padding: 0 16px 0 0;
}
#open-navbar .nav-item span.menu-hide{
    display: block;
}
#open-navbar .nav-item i.icon-hide{
    font-size: 28px;
    display: none;
}
#open-navbar .nav-item i.fa-user{
    font-size: 28px;
    margin-top: 4px;
}
@media screen and (min-width: 991px) {
    #open-navbar .search {
       border-radius: 10px 0 0 10px;
   }
   #open-navbar .expandright {
       left: auto;
       right: 49px; /* Button width-1px */
   }

   #open-navbar .expandright:focus {
       padding: 0 0 0 16px;
   }
   #open-navbar .searchbutton{
       border-radius: 0 10px 10px 0;
   }
   #open-navbar .nav-item span.menu-hide{
    display: none;
   }
   #open-navbar .nav-item i.icon-hide{
       display: block;
   }
}

.pagination .page-divider, .view-student-notes .title-search-container .wrapper-title .page-title, .view-teams .page-header .page-title, .course-wrapper .course-content .proctored-exam-skip-confirm-wrapper .msg-title, .course-wrapper .courseware-results-wrapper .proctored-exam-skip-confirm-wrapper .msg-title, .view-teams .card .card-title, .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-settings .form-title, .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-edit .form-title, .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-group-header .title-value, .dashboard-search-results .search-info h2, .view-student-notes .placeholder-title, .course-index .accordion .course-navigation .button-chapter .group-heading, .home .page-header-secondary .last-accessed-link, div.info-wrapper section.handouts .handouts-header, .view-student-notes .note-group .course-title, .view-student-notes .note-group .tags-title, .view-teams .create-team legend, .view-teams .team-actions .title, .idash-section .message-title, .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-group-add .form-title, .view-student-notes .wrapper-tabs .tab-list .tabs-label, .idash-section .subsection-title, .wrapper-course-material .course-tabs .tab a, .wrapper-course-material .course-tabs .tab a:visited, .xmodule_display.xmodule_VideoBlock .video .video-wrapper .video-controls .control, .xmodule_display.xmodule_VideoBlock .video .video-wrapper .video-controls .vcr .vidtime, .content-wrapper .course-license, .content-wrapper .xblock-license, .view-student-notes .title-search-container .wrapper-title .page-title .page-subtitle, .view-student-notes .note-group .course-subtitle, .idash-section .section-title .description, .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-settings .form-fields .label, .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-edit .form-fields .label, .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-group-add .form-fields .label, .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .file-upload-form .form-fields .label, .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-settings .form-fields .form-label, .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-edit .form-fields .form-label, .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-group-add .form-fields .form-label, .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .file-upload-form .form-fields .form-label, .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-group-header .group-count, .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-group-add .message-title, .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-file-upload .message-title, .nav-utilities .action-toggle-message, .view-student-notes .note-group .note .wrapper-note-excerpts .note-comments .note-comment .note-comment-title, .view-student-notes .note-group .note .reference .wrapper-reference-content .reference-title, div.info-wrapper section.updates>ol>li .date, div.info-wrapper section.updates>ol article .date, div.info-wrapper section.updates section>li .date, div.info-wrapper section.updates section article .date, div.info-wrapper section.updates div>li .date, div.info-wrapper section.updates div article .date, div.info-wrapper section.updates>ol>li .toggle-visibility-button, div.info-wrapper section.updates>ol article .toggle-visibility-button, div.info-wrapper section.updates section>li .toggle-visibility-button, div.info-wrapper section.updates section article .toggle-visibility-button, div.info-wrapper section.updates div>li .toggle-visibility-button, div.info-wrapper section.updates div article .toggle-visibility-button {
    font-family: 'Inter', sans-serif !important;
}

.courses-container .course-title-container{
    background: #172c6b;
    padding: 2px 20px;
    display: flex;
}
.courses-container .course-title-container .course-tittle {
    font-size: 24px;
    color: #fff;
    text-align: center;
    font-weight: 1000;
    /*font-family: 'Exo 2', sans-serif;*/
    text-transform: uppercase;
    display: contents;
}
.trending-course-title-container{
    background: #fff;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.trending-course-tittle-institution {
    font-size: 30px;
    color: white;
    text-align: center;
    font-weight: 1000;
    margin-bottom: 0;
    text-transform: capitalize;
}
.trending-course-border{
    border-top: 3px solid #004B93;
    width: 60px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.explorer-courses-border{
    border-top: 3px solid #1C4D94;
    width: 60px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.new-courses-title-container{
    font-size: 30px;
    color: #494949;
    text-align: center;
    font-weight: 1000;
    margin-bottom: 0;
    text-transform: capitalize;
}
.new-courses-border{
    border-top: 3px solid #1C4D94;
    width: 60px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}
.courses-container .highlighted-courses{
    display: flex;
    max-width: 1765px;
}
.courses-container .highlighted-courses .courses-list{
    margin-left: auto;
    margin-right: auto;
}
.courses-container {
    max-width: 1765px;
}
/* New course card */

@media screen and (min-width: 1900px) {
    ul.courses-list li{
        float: left
    }
}
ul.courses-list{
    padding: 0;
    list-style-type: none;
}
.courses-list .card,
#open-carousel-courses .card {
    box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.15);
}
.courses-list .card-button button,
.courses-list .card-button button:hover,
.courses-list .card-button button:active,
.courses-list .card-button button:focus,
#open-carousel-courses .card-button button,
#open-carousel-courses .card-button button:hover,
#open-carousel-courses .card-button button:active,
#open-carousel-courses .card-button button:focus{
    background: #004e98;
    background-color: #004e98;
    background-image: none;
    border-color: #004e98;
    box-shadow: none;
    color: white;
    font-size: 15px;
    padding: 0;
    width: 100%;
}
.card-img-top {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

#open-carousel-courses .card-img-top {
    width: 100%;
    height: auto;
    object-fit: cover;
    min-height: 185px;
}
.courses-list .col-md-7,
#open-carousel-courses .col-md-7{
    padding-right: 5px;
}
.courses-list .col-md-5,
#open-carousel-courses .col-md-5
{
    padding-left: 5px;
}
#open-carousel-courses .card-body{
    padding: 0;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    height: 278px;
}
#open-carousel-courses .card-body{
    height: 100%;
}
.courses-list .card-body .card-title,
#open-carousel-courses .card-body .card-title{
    /*height: 46px;*/
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: bold;
    margin: 0;
    max-height: 46px;
    height: 46px;
}
.courses-list .card-body .card-logo,
#open-carousel-courses .card-body .card-logo{
    width: 130px;
    margin-left: auto;
    margin-bottom: 10px;
}
.courses-list .card-body .ct1,
#open-carousel-courses .card-body .ct1{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-top: 5px;
    line-height: 16px;
    font-weight: bold;
    text-transform: uppercase;
    height: 17px;
}
.courses-list .card-body .ct2,
#open-carousel-courses .card-body .ct2{
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: auto;
    font-weight: lighter;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 16px;
    max-height: 34px;
    height: 34px;
}
.courses-list .card-body .ct3 .col-md-6 .row{
    display: contents;
}
.courses-list .card-body .ct3,
#open-carousel-courses .card-body .ct3{
    margin: auto;
    text-align: center;
    /*padding: 0 5px;*/
    /*margin-top: 30px;*/
    margin-bottom: 5px;
    font-size: 13px;
}
.courses-list .card-body .ct3 .col-md-12,
#open-carousel-courses .card-body .ct3 .col-md-12{
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 55px;
}
.courses-list .card-body .ct3 .col-md-12 .open-course-date-icon,
.courses-list .card-body .ct3 .col-md-6 .open-course-date-icon,
#open-carousel-courses .card-body .ct3 .col-md-12 .open-course-date-icon,
#open-carousel-courses .card-body .ct3 .col-md-6 .open-course-date-icon{
    width: 35px;
}
.courses-list .card-body .ct3 .col-md-12 .open-course-date-icon img,
.courses-list .card-body .ct3 .col-md-6 .open-course-date-icon img,
#open-carousel-courses .card-body .ct3 .col-md-12 .open-course-date-icon img,
#open-carousel-courses .card-body .ct3 .col-md-6 .open-course-date-icon img{
    width: 35px;
}
.courses-list .card-body .ct3 .col-md-12 .open-course-date-text,
#open-carousel-courses .card-body .ct3 .col-md-12 .open-course-date-text{
    text-align: left;
    margin-left: 8px;
}
.courses-list .card-body .ct3 .col-md-6,
#open-carousel-courses .card-body .ct3 .col-md-6{
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 55px;
}
.courses-list .card-body .ct3 .col-md-6 .open-course-date-text,
#open-carousel-courses .card-body .ct3 .col-md-6 .open-course-date-text{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 8px;
}
.courses-list .card-body .ct3 .col-md-6 .open-course-date-text span,
#open-carousel-courses .card-body .ct3 .col-md-6 .open-course-date-text span{
    font-weight: bolder;
}

.courses-list .card-body .ct3 .col-md-6 .open-course-date-text .course-date,
#open-carousel-courses .card-body .ct3 .col-md-6 .open-course-date-text .course-date {
    font-weight: bolder;
}
.courses-list .card-body .card-button,
#open-carousel-courses .card-body .card-button{
    text-align: center;
    margin-top: 10px;
}
/* New Explorer courses design */

#open-carousel{
    max-height: 560px;
}
#open-carousel-courses .carousel-inner{
    box-shadow: 0 0 11px 8px rgba(0,0,0,0.2);
}
@media screen and (min-width: 768px) {
    #open-carousel-courses{
      padding-top: 50px;
      padding-bottom: 50px;
      width: 70%;
      margin: auto;
    }
    #open-carousel-courses .carousel-control-prev {
      width: auto;
      margin-left: -40px;
    }

    #open-carousel-courses .carousel-control-next {
      width: auto;
      margin-right: -40px;
    }
    #open-carousel-courses .carousel-control-prev-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23565656'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e") !important;
    }

    #open-carousel-courses .carousel-control-next-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23565656'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
    }
}

.find-courses{
    background: transparent;
}
.open-search-bar{
    border-radius: 8px;
    margin: auto;
    background-color: white;
    text-align: center;
    box-shadow: 0px 2px 4px 0 rgb(0 0 0 / 25%);
    position: relative;
    z-index: 10;
    width: 50%;
    margin-right: 50px;
}
.open-search-bar .row{
    max-height: 64px;
    padding: 10px 30px 10px 30px;
    margin: auto;
    background-color: white;
}
@media screen and (min-width: 991px) {
    .open-search-bar .row{
        height: 80px;
        width: 80%;
    }
}
@media (max-width: 1200px) {
    .open-search-bar{
        height: 80px;
        width: 100%;
    }
}
.courses-list .card-button button.ongoing_enrollable_color,
.courses-list .card-button button.upcoming_enrollable {
    background: #008852;
    border: #008852;
    text-shadow: none;
    height: 30px;
}
.courses-list .card-button button.upcoming_notenrollable_color {
    background: #EF4035;
    border: #EF4035;
    text-shadow: none;
    height: 30px;
}
.courses-list .card-button button.ongoing_notenrollable_color,
.courses-list .card-button button.completed_color {
    background: #004e98;
    border: #004e98;
    text-shadow: none;
    height: 30px;
}

.btn-advanced-open:focus:not(:disabled),
.btn-advanced-open:hover:not(:disabled),
.btn-advanced-open{
    background-color: white;
    color: black;
    border: 1px solid #E7E7E9;
    background-image: none;
    box-shadow: none;
    font-size: 1rem;
    font-weight: 400;
    text-shadow: none;
    border-radius: 8px;
    box-shadow:none;
}
@media (max-width: 991px){
    .col-sm-12.col-md-3.align-content-center .btn-advanced-open{
        margin-top: 30px;
        margin-left: 0px;
    }
}
.open-filter-bar aside.search-facets.phone-menu{
    padding: 20px;
    box-shadow: 0px 4px 9px 0px rgba(152, 160, 180, 0.25);
    margin: 0;
    background-color: white;
    border-radius: 12px;
}
#advance-button.btn-advanced-open.border-0 span{
    color: rgba(75, 75, 75, 0.2);
}

.courses-search-btn span{
    text-shadow: none;
    color: #9E9EA7;
}
.courses-search-btn,
.courses-search-btn:hover,
.courses-search-btn:active,
.courses-search-btn:focus{
    background: white !important;
    background-color: white !important;
    background-image: none !important;
    border-color: white;
    box-shadow: none !important;
    /*display: inline-flex;*/
    color: #565656;
    font-size: 30px;
    padding: 0;
    /*width: 60px;
    margin-top: 5px;
    position: absolute;*/
}

.open-discovery-input{
    font: inherit !important;
    font-size: 17px !important;
    width: calc(100% - 50px);
    max-width: calc(100% - 50px);
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}
.open-discovery-input:active,
.open-discovery-input:focus,
.open-discovery-input:focus-visible{
    font-size: 20px !important;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}

.open-search-bar .open-search-col{
    margin: auto;
}
.offcanvas-header .btn-close,
.offcanvas-header .btn-close:hover,
.offcanvas-header .btn-close:active,
.offcanvas-header .btn-close:focus{
    margin-left: 94%;
    box-shadow: none;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
}
.open-search-bar .open-search-col #open-filter-mobile-btn{
    display: inline-block;
}
.open-search-bar .open-search-col #open-filter-mobile-body{
    text-align: left;
}
@media (min-width: 768px) {
    .open-search-bar .open-search-col #open-filter-mobile-btn{
        display: none;
    }
}
.courses-list #list-courses{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.courses-list #list-courses .row .col-md-5 .card{
    width: 100%;
}

#all_courses{
    color:rgba(73, 73, 73, 1);
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
}
.courses-list #list-courses .col-md-12,
.courses-container .courses-list .col-md-6{
    max-width: 865px !important;
}
.courses-list .col-md-3.open-filter-bar{
    display: none;
    padding: 0;
    z-index: 9;
}
@media (min-width: 768px) {
    .courses-list .col-md-3.open-filter-bar{
        display: block;
    }
}
aside .search-facets-lists .filter-btn{
    color: #565756;
    font-size: 20px;
    font-weight: bolder;
    padding-left: 28px;
    display: inline-flex;
    align-items: center;
}
aside .search-facets-lists .filter-btn:hover,
aside .search-facets-lists .filter-btn:focus,
aside .search-facets-lists .filter-btn:visited:not(.btn):hover,
aside .search-facets-lists .filter-btn:visited:not(.btn):focus {
    color: #565756;
    text-decoration: none;
}
.offcanvas-bottom#FilterOffcanvasBottom {
    height: 85%;
}
aside .search-facets-lists a.filter-btn .arrow-filter {
    width: 15px;
    height: 15px;
    transition: all 0.5s;
    margin-left: 10px;
    margin-top: -3px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23565656'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform: rotate(90deg);
    background-position: center;
    background-repeat: no-repeat;
}
aside .search-facets-lists a.filter-btn.collapsed .arrow-filter {
    transform: rotate(0);
}

.open-desktop-view,
.dropdown-menu.dropdown-menu-end.show{
    font-weight: 500;
    font-size: 18px;
}
#settings-language-value {
    font-weight: 400;
    font-size: 12px;
    min-height: 27px;
}
aside .search-facets-lists .form-check-input[type=checkbox] {
    color: #98A0B4;
    margin-top: 2px;
    border-radius: 2em;
}
aside .search-facets-lists .form-check-input[type=checkbox]:checked {
    background-color: #004e98;
    color: #98A0B4;
}
aside .search-facets-lists .list-group-item {
    font-size: 20px;
    padding: 5px;
    border: none;
}
aside .search-facets-lists label{
    font: inherit;
    margin-bottom: 20px;
    color: #98A0B4;
    font-size: 20px;
    font-weight: 600 !important;
    line-height: 17px;
}
aside .search-facets-lists .form-select{
    font-size: 18px;
    font-weight: 500;
    color: #98A0B4;
}
aside .search-facets-lists hr {
    color: #565756;
    height: 2px;
}
aside .open-filters{
    display: none;
}
aside span#title-filter{
    font-size: 24px;
    font-weight: bolder;
    color: #565756;
}
#clear-filter-button{
    background-color: white;
    color: rgba(34, 99, 227, 1);
    border: 2px solid rgba(34, 99, 227, 1);
    box-shadow: none;
    background-image: none;
}
aside a#clear-filters{
    display: contents;
    color: #2263E3;
    font-size: 14px;
    padding: 0px;
    margin: 0px;
    font-weight: 500;
    text-shadow: none
}
aside a#clear-filters:hover,
aside a#clear-filters:focus{
    text-decoration: none;
}
aside #active-filters{
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
}
aside #active-filters li{
    float: left;
    margin: 0 5px 10px 0;
    background-color: #b5e1f5;
    color: white;
    padding: 11px 11px;
    border-radius: 10px;
    font-size: 20px;
    height: auto;
}

aside #active-filters li span.fa-times{
    position: none;
    margin: 5px 0 0 8px;
    font-size: smaller;
}
@media (min-width: 768px) {
    aside #active-filters li{
        padding: 11px 30px;
    }
    aside #active-filters li span.fa-times{
        position: absolute;
        margin: -5px 0 0 10px;
    }
}
aside #active-filters li span.fa-times:focus,
aside #active-filters li span.fa-times:hover{
    color: #7c9aa8;
    cursor: pointer;
}
aside #discovery-message{
    font-style: italic;
    font-size: 20px;
    color: #565756;
    font-family: 'Inter', sans-serif;
    font-weight: lighter;
}
aside h2.open-refine-search{
    font-size: 32px;
    color: #4B4B4B;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
}
.open-search-bar .open-search-col .dropdown-menu.dropdown-menu-end{
    border-radius: unset;
    box-shadow: 0px 4px 4px 0px rgb(0 0 0 / 25%);
    margin-top: 29px !important;
    border: none;
}
.open-search-bar .open-search-col .dropdown-menu.dropdown-menu-end a{
    color: #565756;
    text-decoration: none;
}
.open-search-bar .open-search-col .dropdown-menu.dropdown-menu-end a:hover,
.open-search-bar .open-search-col .dropdown-menu.dropdown-menu-end a:focus,
.open-search-bar .open-search-col .dropdown-menu.dropdown-menu-end a.open-order-by-selected{
    background-color: #a4b8d3;
    border-left: 5px solid #004e98;
}
/* New Index design */
.container-fluid .container-center {
    position: relative;
    text-align: center;
    color: white;
}
.container-center  .title-1 {
    position: absolute;
    top: 26%;
    left: 232px;
    font-size: 5.1vw;
    font-weight: 100;
}
.container-center .title-2 {
    position: absolute;
    top: 46%;
    left: 232px;
    font-size: 5.1vw;
    font-weight: bold;
}
.open-carousel-top-courses-title{
    background-color: #172C6B;
    color: white;
    padding: 20px;
}
.open-carousel-top-courses{
    width:100%;
    display: flex;
    background: #172C6B;
}
.open-carousel-top-courses .carousel-wrap {
    margin-right: 5px;
    margin-left: 5px;
    padding: 1% 5%;
    width: 100%;
    position: relative;
  }

.open-carousel-orgs{
    width:100%;
    display: flex;
    background: white;
}
.open-carousel-orgs .carousel-wrap {
    margin-right: auto;
    margin-left: auto;
    padding: 1% 5%;
    width: 100%;
    position: relative;
  }
  .open-carousel-orgs .owl-carousel .owl-item img{
    max-height: 100px;
  }

  /* fix blank or flashing items on carousel */
  .owl-carousel .item {
    position: relative;
    z-index: 100;
    -webkit-backface-visibility: hidden;
  }
  .owl-theme .owl-dots .owl-dot{
    box-shadow: none;
  }
  .open-carousel-orgs .owl-carousel .owl-item .item{
    max-width: 400px;
  }
  .owl-carousel-top-courses .owl-item .item{
    width: 400px;
    max-width: 80vw;
  }
  @media (min-width: 600px) {
    .owl-carousel-top-courses  .owl-item {
        min-width: 231px !important;
        margin-right: 20px !important;
    }
    .owl-carousel .owl-item {
        margin-right: 20px;
    }
  }
  @media (min-width: 933px) {
    .owl-carousel .owl-item {
        margin-right: 20px;
    }
    .owl-carousel-top-courses .owl-item {
        margin-right: 20px !important;
    }
  }

.open-carousel-orgs .carousel-wrap .owl-theme .owl-dots .owl-dot.active span{
    background: #004B93 ;
  }
.open-carousel-top-courses .carousel-wrap .owl-theme .owl-dots .owl-dot.active span{
    background: #FFFFFF ;
  }
.open-carousel-top-courses .carousel-wrap .owl-theme .owl-dots .owl-dot span,
.open-carousel-orgs .carousel-wrap .owl-theme .owl-dots .owl-dot span{
    background: #999999 ;
  }

  /* end fix */
  .owl-nav > button, .owl-nav > button:active, .owl-nav > button:focus{
    border-radius: 0;
    box-shadow: none;
    /*margin-top: -38px;*/
    position: absolute;
    /*top: 50%;*/
    top: 18%;
    color: #cdcbcd !important;
    text-shadow: none !important;
  }

  .owl-nav i {
    font-size: 52px;
  }
  .owl-nav .owl-prev {
    left: -30px;
  }

  .owl-nav .owl-next {
    right: -30px;
  }
  .owl-carousel-top-courses .owl-stage,
  .owl-carousel .owl-stage {
    display: flex;
    align-items: center;
    justify-content: center;
  }
.owl-carousel .owl-dots,
.owl-carousel-top-courses .owl-dots{
    display: block !important;
  }

  .owl-carousel-top-courses .owl-nav.disabled,
  .owl-carousel-top-courses .owl-dots.disabled,
  .owl-carousel .owl-nav.disabled,
  .owl-carousel .owl-dots.disabled {
    display: none; }

  .owl-carousel-top-courses .owl-nav .owl-prev,
  .owl-carousel-top-courses .owl-nav .owl-next,
  .owl-carousel-top-courses .owl-dot,
  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next,
  .owl-carousel .owl-dot {
    cursor: pointer;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }

  .owl-carousel-top-courses .owl-nav button.owl-prev,
  .owl-carousel-top-courses .owl-nav button.owl-next,
  .owl-carousel-top-courses button.owl-dot,
  .owl-carousel .owl-nav button.owl-prev,
  .owl-carousel .owl-nav button.owl-next,
  .owl-carousel button.owl-dot {
    background: none;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit; }

  .owl-carousel img{
    transition: transform .2s; /* Animation */
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    /* Firefox 3.5+ */
    filter: gray;
    /* IE6-9 */
    -webkit-filter: grayscale(100%);
    /* Chrome 19+ & Safari 6+ */
  }

  .owl-carousel-top-courses img:hover
  {
    filter: none;
    -webkit-filter: grayscale(0%);
  }

  .owl-carousel img:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
  }
.owl-carousel-top-courses.owl-carousel img {
    filter: none;
    -webkit-filter: grayscale(0%);
  }

  .owl-carousel-top-courses.owl-loaded,
  .owl-carousel.owl-loaded {
      display: flex;
  }
.view-student-notes .wrapper-tabs .tab-list .tabs-label, .idash-section .subsection-title, .wrapper-course-material .course-tabs .tab a, .wrapper-course-material .course-tabs .tab a:visited, .xmodule_display.xmodule_VideoBlock .video .video-wrapper .video-controls .control, .xmodule_display.xmodule_VideoBlock .video .video-wrapper .video-controls .vcr .vidtime, .content-wrapper .course-license, .content-wrapper .xblock-license, .view-student-notes .title-search-container .wrapper-title .page-title .page-subtitle, .view-student-notes .note-group .course-subtitle, .idash-section .section-title .description, .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-settings .form-fields .label, .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-edit .form-fields .label, .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-group-add .form-fields .label, .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .file-upload-form .form-fields .label, .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-settings .form-fields .form-label, .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-edit .form-fields .form-label, .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-group-add .form-fields .form-label, .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .file-upload-form .form-fields .form-label, .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-group-header .group-count, .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-group-add .message-title, .instructor-dashboard-wrapper-2 section.idash-section#cohort_management .cohort-management-file-upload .message-title {
    font-size: 15px;
    font-weight: lighter;
}

.main-container .navbar.course-tabs{
    max-width: 1920px;
    margin: auto;
    padding-left: 0;
}
.main-container .navbar.course-tabs li{
    margin: 0 20px 0 0;
}
.main-container .navbar.course-tabs li a{
    color: inherit;
    font-size: 15px;
    padding: 10px 15px 13px 15px;
}
.main-container .navbar.course-tabs li.active{
    color: #0075b4;
}
.main-container .navbar.course-tabs li.active a{
    color: #0075b4;
    border-color: #0075b4 !important;
    text-decoration: none;

}
.main-container .navbar.course-tabs li a:hover{
    color: #0075b4;
    border-color: #0075b4 !important;
    text-decoration: none;
}
.progress{
    display: block;
    height: auto;
    font-size: inherit;
    background-color: transparent;
}
.wrapper-preview-menu{
    padding: 0;
}
body .wrapper-preview-menu .preview-menu {
    padding: 15px 2%;
}
.wrapper-course-material .course-material, .wrapper-preview-menu .preview-menu {
    margin: 0 auto;
    max-width: 1920px;
    width: 100%;
}
.breadcrumbs-header {
    min-height: 80px;
}
.breadcrumb {
    background-color: transparent;
    padding: 0px;
}

.article-functions ul {
    display: block !important;
}
.settings-language-form {
    position: absolute;
    right: 0;
    z-index: 10;
}
.header-lang-selector{
    border: 1px #004B93 solid ;
    border-radius: 21px;
    border-color: #004B93;
    background-color: white;
    color: #004B93;
    padding: 0px 6px;
    font-size: 12px;
    width: 105px;
}
.header-lang-selector option{
    border-color: white;
    background-color: #004B93;
    color: white;
    padding: 3px 0px;
}
.header-lang-selector option:hover{
    border-color: #004B93 ;
    background-color: white;
    color: #0075b4 ;
}

.dark-blue-button, .dark-blue-button:hover:not(:disabled){
    cursor: pointer;
    background:#1C4D94;
    color: #ffff;
    box-shadow: none;
    border: none;
    border-radius: 5px;
    margin-bottom:1.5rem;
    font-weight: 500;
}
.register-button-color, .register-button-color:hover:not(:disabled){
    cursor: pointer;
    background:#008852;
    color: #ffff;
    box-shadow: none;
    border: none;
    border-radius: 5px;
    margin-bottom:1.5rem;
    font-weight: bold;
}

.login-open-u-chile-button, .login-open-u-chile-button:hover:not(:disabled){
    border-top-left-radius:0px;
    border-top-right-radius:0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background:black;
    opacity: 63%;
    margin-top: 0px;
    box-shadow: none;
    margin-bottom:1.5rem;
}
.img-login{
    margin-top:1.5rem;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: black;
    font-size: 9px;
    font-weight: 500;
}
.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 2px solid #F5F5F5;
}
.separator::before {
    margin-right: .25em;
}
.separator::after {
    margin-left: .25em;
}
#register-div{
    margin-top:1.5rem;
}
.font-size-10{
    font-size: 10px;
    text-shadow: none;
}
.font-size-13{
    font-size:13px;
    text-shadow: none;
}
.font-size-14{
    font-size:14px;
    text-shadow: none;
}
.font-size-16{
    font-size:16px;
    font-weight: 500;
    text-shadow: none;
}
.font-weight-medium{
    font-weight: 500;
    text-shadow: none;
}
.info-icon {
    font-size: 1.5rem;
    cursor: pointer;
    color: #007bff;
}
.dark-blue-color{
    color:#1C4D94;
}
#password-reset-email, #register-name, #register-username, #register-email, #register-password, #login-email,#login-password {
    border-radius: 5px;
}
#forgot-password-link{
    color: #1C4D94;
    font-size:10px;
}
#login-and-registration-container{
    font-weight: 500;
    text-shadow: none;
}
#register-checkbox-label{
    font-weight: 500  !important;
}
.font-size-9{
    font-size: 9px;
}
#go-back-icon{
    cursor: pointer;
}

#info-miUchile{
    max-width: 28px;
}

.tooltip-login{
    color:rgba(0, 0, 0, 0.63);
}
.tooltip-login.show{
    opacity: 1;
}
.tooltip-login  .tooltip-inner{
    background-color: white;
    color: black;
    border: 1px rgba(0, 0, 0, 0.63) solid;
}
.tooltip-login.bs-tooltip-start .tooltip-arrow::before{
    border-left-color: rgba(0, 0, 0, 0.63);
    left:0px;
}
.tooltip-login.bs-tooltip-end .tooltip-arrow::before{
    border-right-color: rgba(0, 0, 0, 0.63);
    right:0px;
}
.tooltip-login.bs-tooltip-bottom .tooltip-arrow::before{
    border-bottom-color: rgba(0, 0, 0, 0.63);
    bottom:0px;
}
.tooltip-login.bs-tooltip-top .tooltip-arrow::before{
    border-top-color: rgba(0, 0, 0, 0.63);
    top: 0px;
}

.icon-footer{
    background-color: #383D38;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    align-content: center;
    color: white;
    font-size: 35px;
}

.youtube-hover-color:hover{
    background-color: #c4302b;
}
.linkedin-hover-color:hover{
    background-color: #0e76a8;
}
.instagram-hover-color:hover{
    background-color: rgb(221, 42, 123);
}

#myTab.nav-tabs .nav-item .nav-link.active{
    color: #1C4D94;
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    border: none;
    border-bottom: 4px solid #1C4D94;
    text-decoration: none;
}
#myTab.nav-tabs .nav-item .nav-link{
    color: #494949;
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    border: none;
    border-bottom: 1px solid #494949;
    text-decoration: none;
}
#myTab.nav-tabs .nav-item .nav-link:hover{
    color: #1C4D94;
    font-weight: 700;
}
#myTab.nav-tabs{
    border: none;
}
.tab-content{
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
}
.tab-content .tab-pane .image-tab{
    background-size: auto;
    background-repeat: no-repeat;
}
@media screen and (min-width: 991px) {
    .tab-content .tab-pane .image-tab{
        background-size: 75%;
    }
}
.image-tab .text-justify{
    background-color: white;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.09);
    font-weight: 200;
}
.about-us-tab{
    background-image: url('/static/open-uchile-theme/images/svg-2023/about-us.svg');
}
.platform-works-tab {
    background-image: url('/static/open-uchile-theme/images/svg-2023/platform-works.svg');
}
.about-uchile-tab{
    background-image: url('/static/open-uchile-theme/images/svg-2023/about-uchile.svg');
}
.index-front-page{
    background-image: url('/static/open-uchile-theme/images/svg-2023/bannerOpenUchile.svg');
    min-width: 100%;
    max-width: 100%;
    height: auto;
    min-height: 550px;
}
.index-front-page .p{
    font-size: 60px;
}
#openMenu{
    box-shadow:0px 3px 5px 0px rgba(0, 0, 0, 0.09);
    border-radius: 10px;
}

.dropdown-menu.dropdown-menu-end.show .dropdown-item:hover{
    color: #008852;
    text-decoration: none;
    background-color: white;
}

.owl-dot{
    box-shadow: none;
}

.index-text-presentation{
    font-weight: 700;
    font-size: 60px;
    line-height: 100%;
}
.open-course-date-icon{
    width: 35px;
}

  .course-info .media .icon-play {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    background-image: -webkit-linear-gradient(-90deg, rgba(0, 156, 221, 0.58), rgba(0, 156, 221, 0.28));
    background-image: linear-gradient(-90deg, rgba(0, 156, 221, 0.58), rgba(0, 156, 221, 0.28));
    box-shadow: 0 1px 12px 0 rgb(0 0 0 / 40%);
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 100px;
    height: 80px;
    left: 50%;
    position: absolute;
    top: 50%;
    width: 80px;
  }
  .course-info .media .icon-play:after {
    color: rgba(255,255,255,0.8);
    content: "\25B6";
    display: block;
    font: normal 2em/1em "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    left: 50%;
    margin-left: -11px;
    margin-top: -16px;
    position: absolute;
    top: 50%;
  }
  .modal.video-modal{
    width: 602px;
    height: auto;
  }
  .modal.video-modal .inner-wrapper{
    width: auto;
    height: auto ;
  }

@media (max-width: 405px) {
    .index-text-presentation {
        font-size: 15vw;
    }
}
@media (max-width: 768px) {
    .tab-content-text{
        margin-top: 50%;
    }
    .tab-content .tab-pane .image-tab{
        background-size: contain;
    }
}

@media (max-width: 576px) {
    .settings-language-form{
        padding: 0px;
    }
}

@media screen and (min-width: 991px) {
    #open-navbar .nav-link.register, #open-navbar .nav-link.sign-in {
        width: 140px;
    }
}
