## mako

<%page expression_filter="h" args="online_help_token"/>

<%namespace name='static' file='../static_content.html'/>
<%namespace file='../main.html' import="login_query"/>
<%!
from django.urls import reverse
from django.utils.translation import ugettext as _
%>
<div class="collapse navbar-collapse pt-3" id="navbar">
  <ul class="navbar-nav mr-auto"></ul>
  <ul class="navbar-nav">
    % if settings.FEATURES.get('ENABLE_DASHBOARD_SEARCH'):
    <li class="nav-item my-auto">
        <div class="search-container">
            <form action="/courses" method="get">
              <input class="search expandright" id="searchright" type="search" name="search_query" placeholder="${_('Search')}">          
              <button class="searchbutton" type="submit" for="searchright">
                <span class="mglass">&#9906;</span>
              </button>
            </form>
        </div>
    </li>
    % endif
    <li class="open-desktop-view nav-item my-auto">
      <a class="nav-link my-auto " href="${marketing_link('COURSES')}">${_('Explore courses')}</a>
    </li>
    <li class="nav-item dropdown my-auto mx-0 ml-xl-3 py-1">
        <%include file="user_dropdown.html"/>
    </li>
    <li class="open-desktop-view nav-item dropdown my-auto mx-0 ml-xl-3 py-1">
        <a class="nav-link" href="#" id="openMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="sr-only">${_("Menu")}</span>
            <span class="menu-hide">${_("Menu")}</span>
            <i class="fa fa-bars icon-hide" aria-hidden="true"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="openMenu">
            <a class="dropdown-item" href="${reverse('dashboard')}">${_("My Courses")}</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/faq">${_('FAQ')}</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/certificates/validate">${_('Certificate Validation ')}</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/contact_form">${_('Contact us')}</a>
        </div>
    </li>
    <div class="open-mobile-view">
      <li class="nav-item my-auto">
        <a class="nav-link my-auto ${'active ' if '/dashboard' == request.path else ''}" href="${reverse('dashboard')}">${_("My Courses")}</a>
      </li>
      <li class="nav-item my-auto">
        <a class="nav-link my-auto ${'active ' if '/courses' == request.path else ''}" href="${marketing_link('COURSES')}">${_('Explore courses')}</a>
      </li>
      <li class="nav-item my-auto">
          <a class="nav-link my-auto ${'active ' if '/faq' == request.path else ''}" href="/faq">${_('FAQ')}</a>
      </li>
      <li class="nav-item my-auto">
          <a class="nav-link my-auto ${'active ' if '/certificates/validate' == request.path else ''}" href="/certificates/validate">${_('Certificate Validation ')}</a>
      </li>
      <li class="nav-item my-auto">
          <a class="nav-link my-auto ${'active ' if '/contact_form' == request.path else ''}" href="/contact_form">${_('Contact us')}</a>
      </li>
    </div>
  </ul>
</div>
