## mako

<%page expression_filter="h" args="online_help_token"/>

<%namespace name='static' file='../static_content.html'/>
<%namespace file='../main.html' import="login_query"/>
<%!
from django.urls import reverse
from django.utils.translation import ugettext as _
%>
<!-- https://codepen.io/k185/pen/PQajXE -->
<div class="collapse navbar-collapse pt-3" id="navbar">
  <ul class="navbar-nav mr-auto">
      <li class="nav-item my-auto">
          <a class="nav-link my-auto ${'active ' if reverse('dashboard') == request.path else ''}" href="${reverse('dashboard')}">${_("My Courses")}</a>
      </li>
      <li class="nav-item my-auto">
          <a class="nav-link my-auto ${'active ' if marketing_link('COURSES') == request.path else ''}" href="${marketing_link('COURSES')}">${_('Explore courses')}</a>
      </li>
  </ul>
  <ul class="navbar-nav">
    % if settings.FEATURES.get('ENABLE_COURSE_DISCOVERY'):
    <li class="nav-item my-auto">
        <div class="search-container">
            <form action="/courses" method="get">
              <input class="search expandright" id="searchright" type="search" name="search_query" placeholder="${_('Search')}">          
              <button class="searchbutton" type="submit" for="searchright">
                <span class="mglass">&#9906;</span>
              </button>
            </form>
        </div>
    </li>
    
    % endif
    <li class="nav-item my-auto">
        <a class="nav-link my-auto ${'active ' if '/about' == request.path else ''}" href="/about">${_('About')}</a>
    </li>
    <li class="nav-item my-auto">
        <a class="nav-link my-auto ${'active ' if '/faq' == request.path else ''}" href="/faq">${_('FAQ')}</a>
    </li>
    <li class="nav-item my-auto">
        <a class="nav-link my-auto ${'active ' if '/certificates/validate' == request.path else ''}" href="/certificates/validate">${_('Certificate Validation ')}</a>
    </li>
    <li class="nav-item my-auto">
        <a class="nav-link my-auto ${'active ' if '/contact_form' == request.path else ''}" href="/contact_form">${_('Contact us')}</a>
    </li>
    <li class="nav-item dropdown my-auto mx-0 ml-xl-3 py-1">
        <%include file="user_dropdown.html"/>
    </li>
  </ul>
</div>
